{% extends 'base_layout.html' %}
{% block content %}
    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-primary fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header orange">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>
    <section class="content">

        <section class="content-header">

            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            Kulüp Ekle </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            {% for url in urls %}
                                <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                                </li>
                                <li class="breadcrumb-item active">{{ url_name.name }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>

        </section>


        <!-- /.row -->
        <!-- Main row -->


        <section class="col-lg-12 ">
            <div class="row">
                <div class="col-lg-12">


                    <div class="card card-info card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kulüp Ekle</h3>
                        </div>


                        <div class="card-body">

                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label> Kulüp Seçiniz </label>

                                    <div class="input-group">
                                        <select class="form-control" name="selected" id="selectedClub"
                                                onchange="GetClub()">
                                            <option selected="True" disabled="disabled" class="selected">Seçiniz...
                                            </option>
                                            {% for club in clubs %}
                                                <option value="{{ club.guidId }}"
                                                        class="selected">{{ club.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <small style="color: red ">Kulüp Bilgilerine erişmek için lütfen Kulüp Seçiniz </small>
                            <small><label style="float: right" for="is_club">Kulüp Seçimler Arasında Bulunmuyorsa İşaretleyiniz </label>
                                <input style="margin-left: 5px; float: right" type="checkbox" id="is_club" name="is_club"></small>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="display: none" id="show_club" class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">


                    <div class="card card-info card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kulüp Bilgilerini Getir</h3>


                        </div>


                        <div class="card-body">

                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label> Kulüp Derbis Kütük No </label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                        </div>
                                        <input id="guid" type="text" value='{{ club.derbis }}' class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-info" type="button"
                                    onclick="GetAPIClub(document.getElementById('guid').value)"
                                    style="float:right">
                                Kulüp Getir
                            </button>
                            <small style="color: red ">Kulübün güncel bilgilerine erişmek için kulüp getire tıklayın
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="display: block" id="show_club_info" class="col-lg-12">
            <form method="post" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">


                        <div class="card card-info card-outline">
                            <div class="card-header with-border">
                                <h3 class="card-title">Kulüp Bilgileri</h3>
                            </div>


                            <div class="card-body">

                                <div class="row">

                                    {% for item in club_form %}
                                        <div class="form-group col-lg-6">
                                            <label> {{ item.label }}</label>
                                            {{ item }}
                                            <label for="" id="label_{{ item.name }}"></label>
                                        </div>
                                    {% endfor %}


                                </div>


                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button class="btn btn-outline-info" type="submit"
                                            style="float:right">
                                        Kaydet
                                    </button>


                                    <small style="color: red ">(*) Olan Alanlar zorunludur.</small>
                                </div>

                            </div>


                        </div>
                        <!-- /.card -->


                    </div>
                    <div class="col-lg-6">


                        <div class="card card-info card-outline">
                            <div class="card-header with-border">
                                <h3 class="card-title">Kulüp İletişim Bilgileri</h3>
                            </div>


                            <div class="card-body">

                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <label> İl </label>
                                        <input class="form-control" readonly="readonly" type="text" name="clubIl"
                                               id="clubIl">
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label> İlçe </label>
                                        <input class="form-control" readonly="readonly" type="text" name="clubIlce"
                                               id="clubIlce">
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label> Adres </label>
                                        <textarea class="form-control" readonly="readonly" rows="2" type="text"
                                                  name="clubAdres" id="clubAdres"></textarea>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label> Telefon Numarası </label>
                                        <input class="form-control" readonly="readonly" type="text" id="clubPhone"
                                               name="clubPhone">
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label> Fax </label>
                                        <input class="form-control" readonly="readonly" type="text" id="clubFax"
                                               name="clubFax">
                                    </div>
                                </div>


                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button class="btn btn-outline-info" type="submit"
                                            style="float:right">
                                        Kaydet
                                    </button>


                                    <small style="color: red ">(*) Olan Alanlar zorunludur.</small>
                                </div>

                            </div>


                            <!-- /.card -->


                        </div>
                    </div>
                </div>

                <div style="display:block;" id="kulupBaskani">

                    <section class="content-header">

                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1>
                                        Kulüp Başkanı Ekle </h1>
                                </div>
                            </div>
                        </div>

                    </section>
                    <div class="row">
                        <div class="col-lg-6">


                            <div class="card card-outline card-info">
                                <div class="card-header with-border">
                                    <h3 class="card-title">Kişisel Bilgiler</h3>
                                </div>


                                <div class="card-body">

                                    <div class="row">

                                        {% for item in user_form %}
                                            <div class="form-group col-lg-4">
                                                <label> {{ item.label }}</label>
                                                {{ item }}
                                                <label for="" id="label_{{ item.name }}"></label>
                                            </div>
                                        {% endfor %}

                                        {% for item in manager_person_form %}
                                            <div class="form-group col-lg-4">
                                                <label> {{ item.label }}</label>
                                                {{ item }}
                                                <label for="" id="label_{{ item.name }}"></label>
                                            </div>
                                        {% endfor %}


                                    </div>


                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button class="btn btn-outline-info" type="submit"
                                                style="float:right">
                                            Kaydet
                                        </button>


                                        <small style="color: red ">(*) Olan Alanlar zorunludur.</small>
                                    </div>

                                </div>


                            </div>
                            <!-- /.card -->


                        </div>
                        <div class="col-lg-6">


                            <div class="card card-outline card-info">
                                <div class="card-header with-border">
                                    <h3 class="card-title">İletişim Bilgileri</h3>
                                </div>


                                <div class="card-body">

                                    <div class="row">

                                        {% for item in manager_communication_form %}
                                            <div class="form-group col-lg-4">
                                                <label> {{ item.label }}</label>
                                                {{ item }}
                                                <label for="" id="label_{{ item.name }}"></label>
                                            </div>
                                        {% endfor %}


                                    </div>


                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button class="btn btn-outline-info" type="submit"
                                                style="float:right">
                                            Kaydet
                                        </button>


                                        <small style="color: red ">(*) Olan Alanlar zorunludur.</small>
                                    </div>

                                </div>


                                <!-- /.card -->


                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>


        <script>
            $(function () {
                $('#kategori').DataTable({
                    'paging': false,
                    'lengthChange': false,
                    'searching': false,
                    'ordering': false,
                    'info': false,
                    'autoWidth': true
                })
                const checkbox = document.getElementById('is_club')

                checkbox.addEventListener('change', (event) => {
                    if (event.currentTarget.checked) {
                        document.getElementById('show_club').style.display = 'block'

                    } else {
                        document.getElementById('show_club').style.display = 'none'

                    }
                })

            })
        </script>


        <script>
            $(document).ready(function () {
                {% if error_messages  %}
                    errors_messages({{ error_messages |safe }})
                {% endif %}


                $("#guid").inputmask(
                    {
                        mask: '99-999-999'
                    }
                );

            })
          function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        </script>
        <script>

            function GetAPIClub(id) {
                debugger;
                {#let id = document.getElementById('guid').value#}
                if (id) {
                    $.ajax({
                        url: "{% url "sbs:kulup-ekle-api" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            guid: id,
                        },
                         success: function (result) {
                                if (result.status === 'Success') {
                                     debugger;
                                let info = result['result'][0]
                                document.getElementById('id_name').value = info.KulupAdi
                                document.getElementById('id_foundingDate').value = info.KurulusTarihi
                                document.getElementById('id_clubMail').value = info.Eposta
                                document.getElementById('id_derbis').value = info.DerbisKutukNo
                                document.getElementById('clubPhone').value = info.Telefon
                                document.getElementById('clubIl').value = info.Il
                                document.getElementById('clubAdres').value = info.Adres
                                document.getElementById('clubIlce').value = info.Ilce
                                document.getElementById('clubFax').value = info.Faks
                                document.getElementById('kulupBaskani').style.display = 'block'
                                document.getElementById('formButton').style.display = 'block'


                                } else {
                                    swal({
                                        icon: 'error',
                                        title:  result.msg,

                                    })
                                }


                            }

                    });
                }


            }

            function GetClub() {
                debugger;
                let select = document.getElementById('selectedClub');
                let option = select.options[select.selectedIndex];
                let id = option.value;
                console.log(id);
                if (id) {
                    $.ajax({
                        url: "{% url 'sbs:kulup-yonetici-ekle-api' %}",
                        type: "POST",
                        data: {
                             'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            guid: id,
                        },
                        success: function (result) {
                            debugger;
                            let info = result['result'][0]
                            document.getElementById('id_name').value = info.KulupAdi
                            document.getElementById('id_foundingDate').value = info.KurulusTarihi
                            document.getElementById('id_clubMail').value = info.Eposta
                            document.getElementById('id_derbis').value = info.DerbisKutukNo
                            document.getElementById('clubPhone').value = info.Telefon
                            document.getElementById('clubIl').value = info.Il
                            document.getElementById('clubAdres').value = info.Adres
                            document.getElementById('clubIlce').value = info.Ilce
                            document.getElementById('clubFax').value = info.Faks
                            document.getElementById('kulupBaskani').style.display = 'block'


                        }
                    });
                }
            }
        </script>


    </section>
{% endblock %}
