{% extends 'base_layout.html' %}

{% block content %}

    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header orange">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>




    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>




    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>

    <section class="content">

        <div class="row">
            <section class="col-lg-12 ">


                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title">Kabul Filtrele</h3>
                    </div>
                    <form method="post" role="form" enctype="multipart/form-data">
                        <div class="card-body">


                            {% csrf_token %}


                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label> {{ ClupsSearchForm.name.label }}</label>
                                        {{ ClupsSearchForm.name }}
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label> {{ ClupsSearchForm.clubMail.label }}</label>
                                        {{ ClupsSearchForm.clubMail }}
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="city">Şehir</label>
                                            <select class="form-control select2 select2-hidden-accessible"
                                                    style="width: 100%;" data-select2-id="1" tabindex="-1"
                                                    aria-hidden="true" id="city" name="city">
                                                <option selected value=""></option>

                                                {% for city in cities %}
                                                    <option value="{{ city.pk }}">{{ city.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="branch">Branş</label>
                                            <select class="form-control select2 select2-hidden-accessible"
                                                    style="width: 100%;" data-select2-id="1" tabindex="-1"
                                                    aria-hidden="true" id="branch" name="branch">
                                                <option selected value=""></option>

                                                {% for branch in branches %}
                                                    <option value="{{ branch.pk }}">{{ branch.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {% if aktif == 'Admin' %}
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="clubUser">Kulüp Yetkilisi</label>
                                            <select class="form-control select2 select2-hidden-accessible"
                                                    style="width: 100%;" data-select2-id="1" tabindex="-1"
                                                    aria-hidden="true" id="clubUser" name="clubUser">

                                                    <option selected value="">Branş Yok</option>
                                                    {% for clubUser in clubUsers %}
                                                        <option value="{{ clubUser.pk }}">{{ clubUser.person.user.get_full_name }}</option>
                                                    {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                {% endif %}


                            </div>


                            <button class="btn btn-outline-info" type="submit" style="float:right"><i
                                    class="fa fa-search"></i>
                            </button>


                        </div>
                    </form>
                    <div class="card-footer">


                    </div>

                    <!-- /.box -->


                </div>
            </section>
        </div>


            <div class="row">
                <section class="col-lg-12 ">


                    <div class="card card-outline card-info">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kulüp Listesi</h3>

                            {% for item in perm %}
                                {% if item == 'add_club' %}
                                    {% if aktif == 'Admin' %}
                                        <a href="{% url 'sbs:add_club' %}"
                                           type="button" class="btn btn-outline-info btn-sm" style="float: right"><i
                                                class="fa fa-plus" title="Yeni Kulüp Ekle"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </div>

                        <div class="card-body">
                            <table id="kulupler" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Adı</th>
                                    <th>Branş</th>
                                    <th>Kulüp Yetkilisi</th>
                                    <th>İl</th>
                                    {# <th>Sporcu sayisi</th>#}
                                    <th>Antrenör sayisi</th>

                                    {% if aktif == 'Admin' or aktif == 'Yonetim' or aktif == 'Antrenor' %}
                                        <th>Düzenle/Sil</th>
                                    {% endif %}


                                </tr>
                                </thead>
                                <tbody>
                                {% if clubs %}

                                    {% for club in clubs %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ club.name }}</td>
                                            <td>{% for branch in club.branch.all %}

                                                <span class="badge badge-info"> {{ branch.title }}</span>

                                            {% endfor %}</td>
                                            <td>
                                                {% for member in club.clubUser.all %}
                                                    {% if member.role.name == 'BAŞKAN' %}
                                                        {{ member.user.get_full_name }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>{{ club.communication.city }}</td>
                                            <td>{{ club.coachs.count }}</td>


                                            {% if aktif == 'Admin' or aktif == 'Yonetim' or aktif == 'Antrenor' %}
                                                <td>


                                                    <div class="btn-group">
                                                        <a href="{% url 'sbs:update_club' club.uuid %}"
                                                           type="button" class="btn btn-outline-warning"
                                                           title="Düzenle"> <i
                                                                class="fa fa-edit" title="Düzenle"></i>
                                                        </a>

                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-outline-danger"
                                                           data-toggle="modal" title="Sil"
                                                           onclick=deleteClub('{{ club.uuid }}')><i
                                                                class="fa fa-trash"></i></a>
                                                    </div>


                                                </td>
                                            {% endif %}


                                        </tr>

                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- /.box -->


                </section>


            </div>
            <!-- /.row (main row) -->

    </section>

    {% load  static %}
    <script>
        $(function () {
            $('#kulupler').DataTable({
                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'YEKA LİSTESİ',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },


                ],
                "search": {
                    "caseInsensitive": true,
                },
                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'order': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
            });
            table.on('draw.dt', function () {
                debugger;
                table.column(0, {
                    search: 'applied',
                    order: 'applied',
                    page: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            });

        })
    </script>



    <script>
        function deleteClub(id) {
            debugger;
            console.log(id);
            swal({
                title: "Silmek istediğinizden emin misiniz?",
                text: "Lisansı olan kulüpler silinemez!",
                icon: "warning",
                buttons: [
                    'Hayır!',
                    'Evet'
                ],
            }).then((result) => {
                if (result.dismiss !== 'Evet') {

                    $.ajax({
                        url: "{% url "sbs:club-delete"%}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: id,
                        },
                        success: function (result) {
                            if (result.status === 'Success') {
                                swal({
                                    icon: 'success',
                                    title: 'Kulüp başarıyla silindi !!',

                                })

                            } else {
                                swal({
                                    icon: 'error',
                                    title: 'Kulüp silinemedi !!',

                                })
                            }
                            location.reload();

                        }
                    });
                }

            })


        }
    </script>




{% endblock %}

