{% extends 'base_layout.html' %}

{% block content %}

    <div class="modal modal-title fade in" tabindex="-1" role="dialog" id="application"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Bilgileri Giriniz</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label> İsim</label>


                            <input type="text" name="name" class="form-control" readonly="readonly" required=""
                                   maxlength="1000" id="name">

                        </div>
                        <div class="form-group">
                            <label> Başlangıç Tarihi </label>
                            <input type="text" name="start" class="form-control" readonly="readonly" required=""
                                   maxlength="1000" id="start">
                        </div>
                        <div class="form-group">
                            <label> Bitis tarihi</label>
                            <input type="text" name="finish" class="form-control" readonly="readonly" required=""
                                   maxlength="1000" id="finish">
                        </div>
                        <div class="form-group">
                            <label> Yeri</label>
                            <input type="text" name="location" class="form-control" readonly="readonly" required=""
                                   maxlength="1000" id="location">
                        </div>
                        <div class="form-group">
                            <label> Dekont </label>
                            <input type="file" name="file" class="form-control" required
                                   maxlength="1000" id="location">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <input type="text" name="pk" id="pk" class="form-control" readonly="readonly" required=""
                           maxlength="1000">
                    <button type="submit" class="btn btn-outline-primary">Kaydet</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header orange">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>




    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>

    <section class="content">

        <div class="row">
            <section class="col-lg-12 ">


                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title">Vize Seminerleri</h3>
                        {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
                            <a href="{% url 'sbs:add-visa-seminar-referee' %}" type="button"
                               class="btn btn-outline-success" title="Yeni Seminer Ekle" style="float: right">
                                <i class="fa fa-plus"></i>

                            </a>


                        {% endif %}
                    </div>


                    <div class="card-body">
                        <table id="hakemSeminar" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>İsim</th>
                                <th>Başl. Tarihi</th>
                                <th>Bitiş. Tarihi</th>
                                <th>Yer</th>
                                <th>Geçerlilik Yılı</th>
                                <th>Onay Durumu</th>
                                <th>İşlemler</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if competitions.all %}
                                {% for competition in competitions %}
                                    <tr id="seminer-{{ competition.pk }}">
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ competition.name }}</td>
                                        <td>{{ competition.startDate |date }} </td>
                                        <td>{{ competition.finishDate |date }}</td>
                                        <td>{{ competition.location }}</td>
                                        <td>{{ competition.year }}</td>
                                        <td>{{ competition.status }}</td>

                                        <td>

                                            {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
                                                {% for item in perm %}
                                                    {% if item == 'update-coach-visa-seminar' %}
                                                        <div class="btn-group">
                                                            <a href="{% url "sbs:update-visa-seminar" competition.uuid %}"
                                                               type="button" class="btn btn-outline-warning"
                                                               title="Düzenle"><i
                                                                    class="fa fa-edit"></i>
                                                            </a>
                                                        </div>

                                                    {% elif item == 'delete-coach-visa-seminar' %}
                                                        <div class="btn-group">
                                                            <a class="btn btn-outline-danger"
                                                               data-toggle="modal" title="Sil"
                                                               onclick="deleteCompetition('{{ competition.uuid }}')"><i
                                                                    class="fa fa-trash"></i></a>
                                                        </div>

                                                    {% endif %}

                                                {% endfor %}

                                                <div class="btn-group">
                                                    <a class="btn btn-outline-success"
                                                       data-toggle="modal" title="Başvuru Yap"
                                                       onclick="modalApplication({{ competition.pk }})"><i
                                                            class="fa fa-location-arrow"></i></a>
                                                </div>



                                            {% endif %}


                                        </td>


                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>
                    </div>


                    <!-- /.box -->


                </div>
            </section>
        </div>

        <!-- /.row (main row) -->

    </section>

    {% load  static %}
    <script>
        $(function () {
            $('#hakemSeminar').DataTable({
                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'YEKA LİSTESİ',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },


                ],
                "search": {
                    "caseInsensitive": true,
                },
                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'order': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
            });
            table.on('draw.dt', function () {
                debugger;
                table.column(0, {
                    search: 'applied',
                    order: 'applied',
                    page: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            });

        })
    </script>
    <script>
        function onay() {
            var html = '';
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "sbs:grade-list-approval-all"%}".replace(),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Başari ile onaylandı.';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:grade_list"%}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-delete').modal('hide');
            });
        }


    </script>
    <script>
        function reddet() {

            console.log("reddet çalisti");
            var html = '';
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "sbs:grade-list-reject-all"%}".replace(),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Başarı ile reddedildi.';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:grade_list"%}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-delete').modal('hide');
            });

        }
    </script>
    <script>
        function deleteCompetition(uuid) {

            console.log(uuid);
            var html = ''
            $("#modal-delete").on("shown.bs.modal", function (e) {
                $("#btn-conf1").click(function () {
                    $.ajax({
                        url: "{% url "sbs:delete-visa-seminar" %}".replace(),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: uuid,
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Seminer Başarıyla Silindi';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "sbs:referee-visa-seminar" %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close1').click(function () {
                $('#modal-delete').modal('hide');
            });

        }
    </script>
    <script>
        function modalApplication(competitionId) {
            debugger;

            $("#application").on("shown.bs.modal", function (e) {


                {#$('#title option:selected').text($('#personel-' + competitionId + ' td').eq(1).text());#}
                {#$('#employee option:selected').text($('#personel-' + competitionId + ' td').eq(2).text());#}

                $('#name').val($('#seminer-' + competitionId + ' td').eq(1).text());
                $('#start').val($('#seminer-' + competitionId + ' td').eq(2).text());
                $('#finish').val($('#seminer-' + competitionId + ' td').eq(3).text());
                $('#location').val($('#seminer-' + competitionId + ' td').eq(4).text());
                $('#pk').val(competitionId.toString()).hide();


            }).modal('show');
            $('#btn-closereddet').click(function () {


                $('#modelsubcompany').modal('hide');
                $('.modal').modal('hide');

            });
        }
    </script>

{% endblock %}

