{% extends 'base_layout.html' %}
{% load static %}
{% block content %}



    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header orange">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="dateOfApproval"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Onaylanma Tarihi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <input type="date" name="dateOfApprovalText" id="dateOfApprovalText" class="form-control datemask"
                           required="required" autocomplete="off">
                </div>


                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-danger" id="btn-closereddet-approval">İptal</button>
                    <button type="button" class="btn btn-outline-success btn-ok" id="btn-gonder-approval"
                            data-dismiss="modal">Gönder
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="dateOfReject"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reddedilme Açıklaması</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <label for="dateOfRejectDate">Tarih</label>
                    <input type="date" name="dateOfRejectDate" id="dateOfRejectDate" class="form-control datemask"
                           required="required" autocomplete="off">
                    <label for="dateOfRejectText">Açıklama</label>
                    <input type="text" name="dateOfRejectText" id="dateOfRejectText" class="form-control"
                           required="required" placeholder="Reddedilme Sebebi">

                </div>


                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-danger" id="btn-closereddet-reject">İptal</button>
                    <button type="button" class="btn btn-outline-success btn-ok" id="btn-gonder-reject"
                            data-dismiss="modal">Gönder
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}

    <style>
        #loading {
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            opacity: 0.7;
            background-color: #fff;
            z-index: 100;
        }

        #loading-image {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 100;
        }
    </style>


    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Antrenör Başvuruları</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>

    <section class="content">
        <div id="loading" style="display: none">

            <img id="loading-image" src="{% static 'loader/ring.gif' %}" alt="Loading..."/>
        </div>

        <div class="row">
            <section class="col-lg-12 ">

                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title">Antrenörler</h3>

                        <a href="{% url "sbs:add_coach" %}"
                           type="button" class="btn btn-outline-info"
                           style="float: right">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div class="card-body" style="width: 100%">
                        <table id="basvuru" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Email</th>
                                <th>TC</th>
                                <th>Onay Durumu</th>
                                <th>Onay/Red Tarihi</th>
                                <th>Açıklama</th>
                                <th>Onayla/Düzenle/Reddet/Sil</th>

                            </tr>
                            <tr class="filters" role="row">
                                <th></th>
                                <th><input class="form-control" type="text" placeholder="Ad"
                                           title="Ad"></th>
                                <th><input class="form-control" type="text" placeholder="Soyad"
                                           title="Soyad"></th>
                                <th><input class="form-control" type="text" placeholder="Email"
                                           title="Email"></th>
                                <th><input class="form-control" type="text" placeholder="Tc"
                                           title="Tc"></th>
                                <th><select style="width: 100%" id="branch" name="branch"
                                            class="form-control select2 select2-hidden-accessible"
                                            tabindex="-1" aria-hidden="true">
                                    <option value="">Durum Seçiniz</option>
                                    {% for statu in status %}
                                        <option value="{{ statu.1 }}">{{ statu.1 }}</option>
                                    {% endfor %}
                                </select>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </section>
        </div>
        <!-- /.row (main row) -->
    </section>
    <script>
        function deleteReferee(id) {
            debugger;
            console.log(id);
            swal({
                title: "Reddetmek istediğinizden emin misiniz?",

                icon: "warning",
                buttons: [
                    'Hayır!',
                    'Evet'
                ],
            }).then((result) => {


                if (result.dismiss !== 'Evet') {
                    $("#dateOfReject").on("shown.bs.modal", function (e) {

                        $("#btn-gonder-reject").click(function () {
                            $.ajax({
                                url: "{% url "sbs:refencedeleteCoach" %}",
                                type: "POST",
                                data: {
                                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                    isActive: 'False',
                                    uuid: id,
                                    dateOfReject: $('#dateOfRejectDate').val(),
                                    textOfReject: $('#dateOfRejectText').val(),


                                },
                                success: function (result) {
                                    if (result.status === 'Success') {
                                        swal({
                                            icon: 'success',
                                            title: 'Antrenör Başvurusu Reddedildi !!',

                                        })

                                    } else {
                                        swal({
                                            icon: 'error',
                                            title: 'işlem başarısız oldu.',

                                        })
                                    }
                                    location.reload();

                                }
                            });
                        });


                    }).modal('show');
                    $('#btn-closereddet-reject').click(function () {
                        console.log('buradan çık')

                        $('#modal-warning').modal('hide');
                        $('.modal').modal('hide');

                    });
                }
            })


        }

        function deleteReferenceCoach(id) {
            debugger;
            console.log(id);
            swal({
                title: "Silmek istediğinizden emin misiniz?",

                icon: "warning",
                buttons: [
                    'Hayır!',
                    'Evet'
                ],
            }).then((result) => {


                if (result.dismiss !== 'Evet') {

                    $.ajax({
                        url: "{% url "sbs:registerCoachDelete" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False',
                            uuid: id,

                        },
                        success: function (result) {
                            if (result.status === 'Success') {
                                swal({
                                    icon: 'success',
                                    title: 'Antrenör Başvurusu Silindi !!',

                                })

                            } else {
                                swal({
                                    icon: 'error',
                                    title: 'işlem başarısız oldu.',

                                })
                            }
                            location.reload();

                        }
                    });
                }


            }).modal('show');
            $('#btn-closereddet-reject').click(function () {
                console.log('buradan çık')

                $('#modal-warning').modal('hide');
                $('.modal').modal('hide');

            });

        }
    </script>

    <script>
        function approvalCoach(id) {
            $('#loading').show()
            debugger;
            swal({
                title: "Onaylamak istediğinizden emin misiniz?",

                icon: "warning",
                buttons: [
                    'Hayır!',
                    'Evet'
                ],
            }).then((result) => {


                if (result.dismiss !== 'Evet') {
                    $("#dateOfApproval").on("shown.bs.modal", function (e) {

                        $("#btn-gonder-approval").click(function () {
                            $.ajax({
                                url: "{% url "sbs:approvel-coach-application" %}",
                                type: "POST",
                                data: {
                                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                    isActive: 'False',
                                    uuid: id,
                                    dateOfApproval: $('#dateOfApprovalText').val(),
                                },
                                success: function (result) {

                                    if (result.status === 'Success') {

                                        swal({
                                            icon: 'success',
                                            title: 'Antrenör başarıyla onaylandı !!',

                                        })


                                    } else {

                                        swal({
                                            icon: 'error',
                                            title: 'işlem başarısız oldu.',

                                        })

                                    }

                                    location.reload();

                                }
                            });
                        });


                    }).modal('show');
                    $('#btn-closereddet-approval').click(function () {
                        console.log('buradan çık')

                        $('#modal-warning').modal('hide');
                        $('.modal').modal('hide');
                        $('#loading').hide()
                    });
                }
                $('#loading').hide()

            })


        }
    </script>


    <script>
        $(function () {
            table = $('#basvuru').DataTable({

                orderCellsTop: true,
                fixedHeader: false,

                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );


                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('keyup change', function (e) {
                                    e.stopPropagation();

                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },

                "processing": true,
                "serverSide": true,
                "paging": true,
                "caseInsensitive": false,

                scrollY: "900px",
                scrollX: true,
                scrollCollapse: true,


                "ajax": {
                    "url": "{% url 'sbs:view_reference_coach-api' %}",
                    "type": "POST",
                },
                dom: 'Bfrtip',

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'İzin Listesi',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },


                ],


                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                "columns": [
                    {"data": "id"},
                    {"data": 'first_name'},
                    {"data": 'last_name'},
                    {"data": 'email'},
                    {"data": 'tc'},
                    {
                        "data": null,
                        render: function (full) {
                            var html1 = ''
                            if (full.status) {
                                if (full.status === 'Beklemede') {
                                    html1 += '<span class="badge badge-warning">' + full.status + '</span>'
                                } else if (full.status === 'Onaylandı') {
                                    html1 += '<span class="badge badge-success">' + full.status + '</span>'
                                } else if (full.status === 'Reddedildi') {
                                    html1 += '<span class="badge badge-danger">' + full.status + '</span>'
                                } else {
                                    html1 += '<span class="badge badge-info">' + full.status + '</span>'
                                }
                                return html1;
                            }
                        }
                    },
                    {
                        "data": null,
                        render: function (full) {

                            return full.status_date
                        }

                    },
                    {
                        "data": null,
                        render: function (full) {
                            return full.definition

                        }
                    },
                    {
                        "data": null,
                        render:

                            function (full) {
                                console.log(full.content);
                                let html;
                                debugger;
                                {% if aktif == 'Admin' %}
                                    let url2 = "deleteReferee('" + full.uuid + "')"
                                    let url3 = "deleteReferenceCoach('" + full.uuid + "')"
                                    let url4 = "approvalCoach('" + full.uuid + "')"


                                    let url = "{% url "sbs:update-coach-reference" '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                                    url = url.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', full.uuid);


                                    html = '<td><div class="btn-group"> '
                                    if (full.status === 'Beklemede' || full.status === 'Reddedildi') {
                                        html += '<a onclick="' + url4 + '" title="Onayla" type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-check"></i></a>';
                                        html += '<a style="margin-left: 5px" href="' + url + '" title="Düzenle" type="button" class="btn btn-outline-warning btn-sm"><i class="fa fa-edit"></i></a>';

                                    } else {
                                        html += '<button disabled title="Başvuru Zaten Onaylandı" type="button" class="btn btn-outline-success btn-sm"> <i class="fa fa-check"></i></button>'
                                        html += '<button style="margin-left: 5px;" disabled type="button" class="btn btn-outline-warning btn-sm"> <i class="fa fa-edit" title="Başvuru Onaylandı"></i></button>'
                                    }
                                    if (full.status !== 'Onaylandı') {
                                        html += '<a style="margin-left: 5px;" class="btn btn-outline-danger btn-sm"  data-toggle="modal" onclick="' + url2 + '"> <i class="fa fa-ban" title="Reddet"></i> </a>'
                                    } else {
                                        html += ' <button style="margin-left: 5px;" class="btn btn-outline-danger btn-sm"  data-toggle="modal" disabled> <i class="fa fa-ban" title="Başvuru Onaylandı !"></i> </button>'
                                    }

                                    html += ' <a style="margin-left: 5px;" class="btn btn-outline-danger btn-sm"  onclick="' + url3 + '"> <i class= "fa fa-trash" title = "Kaydı Sil" ></i> </a>'
                                    html += '</div></td>';
                                {% else %}
                                    html = '<td></td>'
                                {% endif %}
                                return html;
                            }
                    }

                ],


            });
            table.on('draw.dt', function () {
                $('#city').on('change', function () {
                    var select = document.getElementById('city');
                    var value = select.options[select.selectedIndex].value;
                    table.columns(4).search(value).draw();
                });

                $('#branch').on('change', function () {
                    var select = document.getElementById('branch');
                    var value = select.options[select.selectedIndex].value;
                    table.columns(5).search(value).draw();
                });

                var info = table.page.info();
                table.column(0, {
                    search: 'applied',
                    order: 'applied',
                    page: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1 + info.start;
                });
            });


        })

        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>





{% endblock %}

