{% extends 'base_layout.html' %}

{% block content %}

    <div class="modal modal-success-food fade in" id="modal-xl" style="display: none;width: 100%">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <section class="col-lg-12 ">
                            <div class="card card-outline">
                                <div class="card-header with-border">
                                    <h3 class="card-title">Antrenör Ekle</h3>
                                    <button class="btn btn-outline-info" type="submit"
                                            style="float:right" onclick="submitFunc()">
                                        Seçilenleri Ekle
                                    </button>
                                </div>

                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <table id="antrenorListesi" class="table table-bordered table-hover"
                                               style="width: 100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Seç</th>
                                                <th>Ad</th>
                                                <th>Soyad</th>
                                                <th>T.C.</th>
                                                <th>Mail</th>
                                                <th>Telefon</th>

                                            </tr>
                                            <tr class="filters" role="row">
                                                <th></th>
                                                <th></th>
                                                <th><input class="form-control" type="text" placeholder="Ad"
                                                           title="test"></th>
                                                <th><input class="form-control" type="text" placeholder="Soyad"
                                                           title="test"></th>
                                                <th><input class="form-control" type="text" placeholder="TC"
                                                           title="test"></th>
                                                <th><input class="form-control" type="text" placeholder="Email"
                                                           title="test"></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>


                                            </tbody>
                                        </table>

                                    </div>


                                </div>


                                <!-- /.box -->


                            </div>

                        </section>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button style="display: none"></button>

                    <button type="button" class="btn btn-outline-success btn-ok" id="btn-closebtn"
                            data-dismiss="modal">Kapat
                    </button>
                </div>
            </div>


            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header orange">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>




    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>

    <section class="content">

        <div class="row">
            <section class="col-lg-12 ">
                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <div class="card-title">
                            <h3>Onay Durumu</h3>
                            <h3 class="card-title">{{ competition.status }}</h3>
                        </div>

                        <div class="card-header with-border">
                            {% if competition.status == 'Beklemede' %}
                                <div class="text-right">
                                    <a href="{% url "sbs:coach-visa-seminar-approval" competition.uuid %}"
                                       type="button" class="btn btn-outline-warning"><i
                                            class="fa fa-check"></i>Onayla
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data" role="form">
                    <div class="card card-info card-outline">
                        <div class="card-header with-border">
                            <h3 class="card-title">Genel Bilgiler</h3>
                        </div>

                        <div class="card-body">
                            {% csrf_token %}
                            <div class="row">

                                <div class="col-lg-12">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label> {{ competition_form.name.label }}</label>
                                                {{ competition_form.name }}
                                            </div>

                                            <div class="form-group">
                                                <label> {{ competition_form.startDate.label }}</label>
                                                {{ competition_form.startDate }}
                                            </div>


                                            <div class="form-group">
                                                <label> {{ competition_form.location.label }}</label>
                                                {{ competition_form.location }}
                                            </div>


                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label> {{ competition_form.branch.label }}</label>
                                                {{ competition_form.branch }}
                                            </div>
                                            <div class="form-group">
                                                <label> {{ competition_form.finishDate.label }}</label>
                                                {{ competition_form.finishDate }}
                                            </div>

                                            <div class="form-group">
                                                <label> {{ competition_form.year.label }}</label>
                                                {{ competition_form.year }}
                                            </div>


                                        </div>


                                    </div>


                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}

                                <button class="btn btn-outline-info" type="submit" style="float: right">Kaydet</button>
                            {% endif %}

                        </div>
                    </div>
                </form>
                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title"> Seçili Antrenörler</h3>


                        <a onclick="clickFunc()" style="float: right;"
                           type="button" class="btn btn-outline-info" title="Antrenör Ekle"><i
                                class="fa fa-plus"></i>
                        </a>


                    </div>

                    <div class="card-body">
                        <table id="antrenorler" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>T.C.</th>

                                <th>Mail Adresi</th>
                                <th>Telefon</th>

                                <th>Kaldır</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% if coachs %}
                                {% for coach in coachs %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ coach.person.user.first_name }} {{ coach.person.user.last_name }} </td>

                                        <td>{{ coach.person.tc }} </td>
                                        <td>{{ coach.person.user.email }} </td>
                                        <td>{{ coach.communication.phoneNumber }} </td>


                                        <td>
                                            <div class="btn-group">
                                                <a onclick="deleteCoach('{{ coach.uuid }}', '{{ competition.uuid }}')"
                                                   type="button" class="btn btn-outline-danger" title="Kaldır"><i
                                                        class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>

                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>

                    </div>


                </div>
                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title"> Basvuru Yapan Antrenörler</h3>
                    </div>
                    <div class="card-body">
                        <table id="antrenorlerTablo" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>T.C.</th>
                                <th>Mail Adresi</th>
                                <th>Telefon</th>
                                <th>Dekont</th>

                                <th>Onay Durumu</th>

                                <th>Onayla/Reddet</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% if competition %}
                                {% for compCoach in competition.coachApplication.all %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ compCoach.coach.person.user.first_name }} {{ compCoach.coach.person.user.last_name }} </td>
                                        <td>{{ compCoach.coach.person.tc }} </td>
                                        <td>{{ compCoach.coach.user.email }} </td>
                                        <td>{{ compCoach.coach.communication.phoneNumber }} </td>
                                        <td>
                                            <a href="/media/{{ compCoach.dekont }}"
                                               target="_blank">{{ compCoach.dekont }}</a>
                                        </td>
                                        <td> {{ compCoach.status }}</td>


                                        <td>
                                            {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
                                                {% for item in perm %}
                                                    {% if item == 'visa_list_approval' %}
                                                        <div class="btn-group">

                                                            <a class="btn btn-outline-success"
                                                               data-toggle="modal" title="Onayla"
                                                               onclick="onayla('{{ compCoach.uuid }}', '{{ competition.uuid }}')"><i
                                                                    class="fa fa-check"></i></a>

                                                        </div>

                                                    {% elif item == 'visa_list_reject' %}
                                                        <div class="btn-group">
                                                            <a class="btn btn-outline-danger"
                                                               data-toggle="modal" title="Reddet"
                                                               onclick="reddet('{{ compCoach.uuid }}', '{{ competition.uuid }}')"><i
                                                                    class="fa fa-trash"></i></a>
                                                        </div>
                                                    {% endif %}


                                                {% endfor %}







                                            {% endif %}
                                        </td>

                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </section>

    {% load  static %}

    {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
        <script>
            $(function () {

                $('#antrenorlerTablo').DataTable({
                    dom: 'Bfrtip',


                    lengthMenu: [
                        [10, 25, 50, 100, -1],
                        ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                    ],

                    'buttons': [


                        {
                            extend: "pageLength",
                        },


                        {
                            extend: 'colvis',
                            titleAttr: 'Ekle Çıkar'


                        },
                        {
                            extend: 'print',
                            title: 'YEKA LİSTESİ',
                            text: '<i class="fa fa-print"></i>',

                            titleAttr: 'Yazdır',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            download: 'open',
                            text: '<i class="fa fa-file-pdf"></i>',

                            titleAttr: 'Pdf Kaydet',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },

                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel"></i>',
                            titleAttr: 'Excel Kaydet',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },


                    ],
                    "search": {
                        "caseInsensitive": true,
                    },
                    'language': {
                        "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                    },
                    'paging': true,
                    'lengthChange': true,
                    'searching': true,
                    'order': true,
                    'info': true,
                    'autoWidth': true,
                    'responsive': true,
                });


                $('#antrenorler').DataTable({
                    dom: 'Bfrtip',


                    lengthMenu: [
                        [10, 25, 50, 100, -1],
                        ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                    ],

                    'buttons': [


                        {
                            extend: "pageLength",
                        },


                        {
                            extend: 'colvis',
                            titleAttr: 'Ekle Çıkar'


                        },
                        {
                            extend: 'print',
                            title: 'YEKA LİSTESİ',
                            text: '<i class="fa fa-print"></i>',

                            titleAttr: 'Yazdır',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            download: 'open',
                            text: '<i class="fa fa-file-pdf"></i>',

                            titleAttr: 'Pdf Kaydet',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },

                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel"></i>',
                            titleAttr: 'Excel Kaydet',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },


                    ],
                    "search": {
                        "caseInsensitive": true,
                    },
                    'language': {
                        "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                    },
                    'paging': true,
                    'lengthChange': true,
                    'searching': true,
                    'order': true,
                    'info': true,
                    'autoWidth': true,
                    'responsive': true,
                });


            })

            function deleteCoach(coach_uuid, competition_uuid) {
                debugger;

                swal({
                    title: "Silmek istediğinizden emin misiniz?",
                    icon: "warning",
                    buttons: [
                        'Hayır!',
                        'Evet'
                    ],
                }).then((result) => {
                    if (result.dismiss !== 'Evet') {

                        $.ajax({
                            url: "{% url "sbs:coachDeleteVisaSeminar" %}".replace(),
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                coach_uuid: coach_uuid,
                                competition_uuid: competition_uuid,
                                isActive: 'False'
                            },
                            success: function (result) {
                                if (result.status === 'Success') {
                                    swal({
                                        icon: 'success',
                                        title: 'Başarıyla silindi !!',

                                    })

                                } else {
                                    swal({
                                        icon: 'error',
                                        title: 'İşlem başarısız !!',

                                    })
                                }
                                location.reload();

                            }
                        });
                    }

                })


            }


        </script>
        <script>
            function reddet(coachApplication_uuid, seminer_uuid) {
                debugger;

                swal({
                    title: "Reddetmek istediğinizden emin misiniz?",
                    icon: "warning",
                    buttons: [
                        'Hayır!',
                        'Evet'
                    ],
                }).then((result) => {
                    if (result.dismiss !== 'Evet') {

                        $.ajax({
                            url: "{% url "sbs:delete-coach-application-visa-seminar" %}",
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                coachApplication_uuid: coachApplication_uuid,
                                seminer_uuid: seminer_uuid,
                                isActive: 'False'
                            },
                            success: function (result) {
                                if (result.status === 'Success') {
                                    swal({
                                        icon: 'success',
                                        title: 'Reddedildi',

                                    })

                                } else {
                                    swal({
                                        icon: 'error',
                                        title: 'İşlem Başarısız !!',

                                    })
                                }
                                location.reload();

                            }
                        });
                    }

                })


            }

            function onayla(coachApplication_uuid, seminer_uuid) {
                debugger;

                swal({
                    title: "Onaylamak istediğinizden emin misiniz?",
                    icon: "warning",
                    buttons: [
                        'Hayır!',
                        'Evet'
                    ],
                }).then((result) => {
                    if (result.dismiss !== 'Evet') {

                        $.ajax({
                            url: "{% url "sbs:approval-coach-application-visa-seminar" %}",
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                coachApplication_uuid: coachApplication_uuid,
                                seminer_uuid: seminer_uuid,
                                isActive: 'False'
                            },
                            success: function (result) {
                                if (result.status === 'Success') {
                                    swal({
                                        icon: 'success',
                                        title: 'Onaylandı',

                                    })

                                } else {
                                    swal({
                                        icon: 'error',
                                        title: 'İşlem Başarısız !!',

                                    })
                                }
                                location.reload();

                            }
                        });
                    }

                })


            }
        </script>
        <script>


        </script>
    {% endif %}

    <script>

        var uuid = '{{competition.uuid}}';
        var list = [];

        function checkedList(id) {
            debugger;

            if (document.getElementById('coach-' + id).checked) {
                list.push(document.getElementById('coach-' + id).value)
            } else {
                list.pop(document.getElementById('coach-' + id).value)
            }

        }

        function submitFunc() {

            $('#loading').show()
            $.ajax({
                url: "{% url "sbs:add-coach-visa-seminar-api" %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    coach_list: list,
                    uuid: uuid,
                },
                success: function (result) {
                    if (result.status === 'Success') {
                        swal({
                            icon: 'success',
                            title: 'Antrenörler başarıyla kayıt edildi !!',

                        })

                    } else {
                        swal({
                            icon: 'error',
                            title: 'İşlem Başarısız !!',

                        })
                    }
                    $('#loading').hide();
                    location.reload();

                }
            });
        }


        function clickFunc() {

            $("#modal-xl").on("shown.bs.modal", function (e) {
                debugger;

                table = $('#antrenorListesi').DataTable({

                    orderCellsTop: true,
                    fixedHeader: false,
                    initComplete: function () {
                        var api = this.api();

                        // For each column
                        api
                            .columns()
                            .eq(0)
                            .each(function (colIdx) {
                                // Set the header cell to contain the input element
                                var cell = $('.filters th').eq(
                                    $(api.column(colIdx).header()).index()
                                );


                                // On every keypress in this input
                                $(
                                    'input',
                                    $('.filters th').eq($(api.column(colIdx).header()).index())
                                )
                                    .off('keyup change')
                                    .on('keyup change', function (e) {
                                        e.stopPropagation();

                                        // Get the search value
                                        $(this).attr('title', $(this).val());
                                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                        var cursorPosition = this.selectionStart;
                                        // Search the column for that value
                                        api
                                            .column(colIdx)
                                            .search(
                                                this.value
                                            )
                                            .draw();

                                        $(this)
                                            .focus()[0]
                                            .setSelectionRange(cursorPosition, cursorPosition);
                                    });
                            });
                    },

                    "processing": true,
                    "serverSide": true,
                    "paging": true,
                    "ordering": true,


                    "ajax": {
                        "url": "{% url 'sbs:view_coach-visa-seminar-api' %}",
                        "type": "POST",
                        'data': {
                            uuid: uuid,
                        },
                    },
                    dom: 'Bfrtip',

                    'buttons': [


                        {
                            extend: "pageLength",
                        },


                        {
                            extend: 'colvis',
                            titleAttr: 'Ekle Çıkar'


                        },
                        {
                            extend: 'print',
                            title: 'İzin Listesi',
                            text: '<i class="fa fa-print"></i>',

                            titleAttr: 'Yazdır',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            download: 'open',
                            text: '<i class="fa fa-file-pdf"></i>',

                            titleAttr: 'Pdf Kaydet',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },

                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel"></i>',
                            titleAttr: 'Excel Kaydet',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },


                    ],


                    'language': {
                        "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                    },
                    "columns": [
                        {"data": "id"},
                        {
                            "data": null,
                            render: function (full) {
                                let html = ' ';
                                html += '<td><input onclick="checkedList(' + full.id + ')" class="cb" id="coach-' + full.id + '" type="checkbox" value="' + full.id + '"></td>';
                                return html;
                            }
                        },
                        {
                            "data": null,
                            render: function (full) {
                                if (full.person) {
                                    return full.person.user.first_name;
                                } else {
                                    return '';
                                }
                            }
                        },
                        {
                            "data": null,
                            render: function (full) {
                                if (full.person) {
                                    return full.person.user.last_name;
                                } else {
                                    return '';
                                }
                            }
                        },
                        {
                            "data": null,
                            render: function (full) {
                                if (full.person) {
                                    return full.person.tc;
                                } else {
                                    return ''
                                }
                            }
                        },
                        {
                            "data": null,
                            render: function (full) {
                                if (full.person) {
                                    return full.person.user.email;
                                } else {
                                    return ''
                                }
                            }
                        },
                        {
                            "data": null,
                            render: function (full) {
                                if (full.communication) {
                                    if (full.communication.phoneNumber) {
                                        return full.communication.phoneNumber;
                                    } else {
                                        return ''
                                    }
                                } else {
                                    return ''
                                }


                            }
                        },

                    ],
                    "search": {
                        "caseInsensitive": true
                    }


                });
                table.on('draw.dt', function () {
                    var info = table.page.info();
                    table.column(0, {
                        search: 'applied',
                        order: 'applied',
                        page: 'applied'
                    }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1 + info.start;
                    });
                });

            }).modal('show');

            $('#btn-closebtn').click(function () {

                $('.modal').modal('hide');


            });


        }

        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>

{% endblock %}

