{% extends 'base_layout.html' %}
{% block content %}
    <section class="content">
        <!-- Info boxes -->
        <div class="row">

            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ total_club }}<sup style="font-size: 20px"></sup></h3>

                        <p>Kulüp Sayısı</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                    <a href="{% url "sbs:kulupler" %}" class="small-box-footer">
                        Daha Fazla <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ total_club_user }}</h3>

                        <p>Hakem sayısı</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-people-outline"></i>
                    </div>
                    <a href="{% url "sbs:kulup-uyeleri" %}" class="small-box-footer">
                        Daha Fazla <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ total_athlete }}</h3>

                        <p>Sporcu Sayısı</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <a href="{% url "sbs:sporcular" %}" class="small-box-footer">
                        Daha Fazla <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-light-blue">
                    <div class="inner">
                        <h3>{{ total_coachs }}</h3>

                        <p>Antrenör Sayısı</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <a href="{% url "sbs:antrenorler" %}" class="small-box-footer">
                        Daha Fazla <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
