{% extends 'base_layout.html' %}
{% block content %}

    <section class="content">

        <!-- Content Header (Page header) -->
        <section class="content-header">


            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Anasayfa</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            {% for url in urls %}
                                <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                                </li>
                                <li class="breadcrumb-item active">{{ url_name.name }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="card card-info card-outline">
                        <div class="card-body box-profile">
                            <div class="row">
                                {% if user.groups.all.count > 1 %}
                                    <div class="col-lg-6">
                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle"
                                                 src="/media/profile/user_IudVgaQ.png" alt="User profile picture">
                                        </div>
                                        <h3 class="profile-username text-center">{{ user.get_full_name }}</h3>
                                        {% if club.last %}
                                            <p class="text text-center">{{ club.last.name }}</p>
                                        {% endif %}
                                        <p class="text-muted text-center">{{ aktif }}</p>
                                    </div>
                                {% else %}
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle"
                                                 src="/media/profile/user_IudVgaQ.png" alt="User profile picture">
                                        </div>
                                        <h3 class="profile-username text-center">{{ user.get_full_name }}</h3>
                                        {% if club.last %}
                                            <p class="text text-center">{{ club.last.name }}</p>
                                        {% endif %}
                                        <p class="text-muted text-center">{{ aktif }}</p>
                                    </div>
                                {% endif %}
                                {% if user.groups.all.count > 1 %}
                                    <div class="col-lg-6">
                                        <ul class="list-group list-group-unbordered">

                                            {% for group in user.groups.all %}
                                                {% if not group.name == aktif %}
                                                    <li class="list-group-item">
                                                        <b>{{ group.name }}</b>
                                                        <a href="{% url 'sbs:change_activegroup' group.pk %}"
                                                           class="float-right"><span class="badge badge-info"> Grup Değiştir
                                                        <i style="margin-left: 5px"
                                                           class="fa fa-arrow-right"> </i></span> </a>
                                                    </li>
                                                {% endif %}

                                            {% endfor %}
                                        </ul>
                                    </div>{% endif %}
                            </div>
                            <hr>
                            {% if aktif == "Antrenör" %}
                                <a href="{% url "sbs:updateProfileCoach" %}" class="btn btn-outline-info btn-block"><b>Profil
                                    Bilgisi</b></a>


                            {% elif aktif == "Hakem" %}
                                <a href="{% url 'sbs:updateProfileReferee' %}"
                                   class="btn btn-outline-info btn-block"><b>Profil
                                    Bilgisi</b></a>


                            {% elif aktif == "Kulüp Yetkilisi" %}
                                <a href="{% url 'sbs:updateProfileClubUser' %}"
                                   class="btn btn-outline-info btn-block"><b>Profil
                                    Bilgisi</b></a>


                            {% endif %}
                        </div>

                    </div>
                    <div class="card card-info card-outline">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-header">
                                    <h3 class="card-title">Kulüp Bilgileri</h3>
                                </div>

                                <div class="card-body">
                                    <strong><i class="fas fa-book mr-1"></i> Kulüp </strong>
                                    <p class="text-muted">
                                        {% if club %}
                                            {{ club.last.name }}
                                        {% else %}
                                            Kulüp bilginiz bulunmamaktadır.
                                        {% endif %}
                                    </p>
                                    <hr>
                                    <strong><i class="fas fa-map-marker-alt mr-1"></i> Adres</strong>
                                    <p class="text-muted">{{ club.last.communication.address }}</p>
                                    <hr>
                                    <strong><i class="fas fa-pencil-alt mr-1"></i>Branş</strong>
                                    <p class="text-muted">
                                        {% for branch in club.last.branch.all %}

                                            <span class="tag tag-success">{{ branch.title }} - </span>

                                        {% endfor %}
                                    </p>

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card-header">
                                    <h3 class="card-title">Spor Tesisi Bilgileri</h3>
                                </div>

                                <div class="card-body">
                                    <strong><i class="fas fa-book mr-1"></i> Spor Tesisi </strong>
                                    <p class="text-muted">
                                        {% if sportFacility %}
                                            {{ sportFacility.last.name }}
                                        {% else %}
                                            Spor tesisi bilginiz bulunmamaktadır.
                                        {% endif %}
                                    </p>
                                    <hr>
                                    <strong><i class="fas fa-map-marker-alt mr-1"></i> Adres</strong>
                                    <p class="text-muted">{{ sportFacility.last.communication.address }}</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline card-info">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kademe Bilgileri</h3>

                        </div>
                        <div class="card-body">

                            <table id="grade" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Hak Kazanma Tarihi</th>
                                    <th> Branş</th>
                                    <th> Tanımı</th>
                                    <th> Belge / Aktif-Pasif</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if coach %}
                                    {% for grade in coach.grades.all %}
                                        <tr>
                                            {% if not grade.isDeleted %}

                                                <td>{{ forloop.counter }} </td>
                                                <td>{{ grade.startDate }}  </td>
                                                <td>{{ grade.branch }}  </td>
                                                <td>{{ grade.definition }}  </td>
                                                <td>{% if grade.status == 'Onaylandı' %}
                                                    Aktif
                                                {% elif grade.status == 'Reddedildi' %}
                                                    Pasif
                                                {% else %}
                                                    {{ grade.status }}
                                                {% endif %}
                                                </td>

                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card card-outline card-info">
                        <div class="card-header with-border">
                            <h3 class="card-title">Vize Bilgileri</h3>


                        </div>
                        <div class="card-body">

                            <table id="visa" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Branş</th>
                                    <th> Dekont</th>
                                    <th> Vize Geçerlilik Tarihi</th>
                                    <th> Vize Onaylanma Tarihi</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% if coach %}


                                    {% for grade in coach.visa.all %}
                                        <tr>
                                            {% if not grade.isDeleted %}
                                                <td>{{ forloop.counter }} </td>
                                                <td>{{ grade.branch }}  </td>
                                                <td>{% if grade.dekont %}<a href="{{ grade.dekont.url }}" target="_blank">Dekont </a> {% endif %}</td>
                                                <td> {{ date }} </td>
                                                <td>{% if grade.approval_date %}
                                                    {{ grade.approval_date }}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                                </tr>
                                            {% endif %}
                                    {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>

{% endblock %}
