{% extends 'base_layout.html' %}
{% block content %}

    <section class="content">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Anasayfa

            </h1>
            <ol class="breadcrumb float-sm-right">
                {% for url in urls %}
                    <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                    </li>
                    <li class="breadcrumb-item active">{{ url_name.name }}</li>
                {% endfor %}
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-12">

                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                {% if person %}
                                    {% if person.profileImage %}
                                        <img class="profile-user-img img-fluid img-circle"
                                             src="{{ person.profileImage.url }}" alt="User profile picture">

                                    {% endif %}
                                {% else %}
                                    <img class="profile-user-img img-fluid img-circle"
                                         src="/media/profile/user_IudVgaQ.png" alt="User profile picture">
                                {% endif %}
                            </div>
                            <h3 class="profile-username text-center">{{ user.get_full_name }}</h3>
                            <p class="text-muted text-center">{{ aktif }}</p>
                            {% if user.groups.all.count > 1 %}
                                <ul class="list-group list-group-unbordered mb-3">

                                    {% for group in user.groups.all %}
                                        <li class="list-group-item">
                                            <b>{{ group.name }}</b><br>
                                            <a href="{% url 'sbs:change_activegroup' group.pk %}"
                                               class="float-right">Grup Değiştir <i class="fa fa-arrow-right"> </i> </a>
                                        </li>

                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if active == "Antrenör" %}
                                <a href="{% url "sbs:updateProfileCoach" %}" class="btn btn-outline-info btn-block"><b>Profil
                                    Bilgisi</b></a>


                            {% elif active == "Hakem" %}
                                <a href="{% url 'sbs:updateProfileReferee' %}"
                                   class="btn btn-outline-info btn-block"><b>Profil
                                    Bilgisi</b></a>


                            {% elif active == "Kulüp Yetkilisi" %}
                                <a href="{% url 'sbs:updateProfileClubUser' %}"
                                   class="btn btn-outline-info btn-block"><b>Profil
                                    Bilgisi</b></a>


                            {% endif %}
                        </div>

                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline card-info">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kademe Bilgileri</h3>

                        </div>
                        <div class="card-body">

                            <table id="grade" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Hak Kazanma Tarihi</th>
                                    <th> Branş</th>
                                    <th> Tanımı</th>
                                    <th>Dekont</th>
                                    <th> Onay Durumu</th>
                                    <th>Onaylanma Tarihi</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% if coach %}
                                    {% for grade in coach.grades.all %}
                                        <tr>
                                            {% if not grade.isDeleted %}

                                                <td>{{ forloop.counter }} </td>
                                                <td>{{ grade.startDate }}  </td>
                                                <td>{{ grade.branch }}  </td>
                                                <td>{{ grade.definition }}  </td>
                                                <td>{% if grade.dekont %}
                                                    <a href="{{ grade.dekont.url }}"
                                                       target="_blank">Dekont </a> {% endif %}
                                                </td>
                                                <td>{% if grade.status == 'Onaylandı' %}
                                                    <center>
                                                        <i class="fa fa-check"></i></center>
                                                {% elif grade.status == 'Reddedildi' %}
                                                    <center>
                                                        <i class="fa fa-ban">{{ grade.status }}</i>
                                                    </center>
                                                {% else %}
                                                    {{ grade.status }}
                                                {% endif %}
                                                </td>

                                                <td>{% if grade.approval_date %}
                                                    {{ grade.approval_date }}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}


                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card card-outline card-info">
                        <div class="card-header with-border">
                            <h3 class="card-title">Vize Bilgileri</h3>


                        </div>
                        <div class="card-body">

                            <table id="visa" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Hak Kazanma Yılı</th>
                                    <th> Branş</th>
                                    <th> Dekont</th>
                                    <th> Onay Durumu</th>
                                    <th>Onaylanma Tarihi</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% if coach %}


                                    {% for grade in coach.visa.all %}
                                        <tr>
                                            {% if not grade.isDeleted %}
                                                <td>{{ forloop.counter }} </td>
                                                <td>{{ grade.startDate.year }}  </td>
                                                <td>{{ grade.branch }}  </td>
                                                <td><a href="{{ grade.dekont.url }}" target="_blank">Dekont </a>
                                                <td>{{ grade.status }}  </td>
                                                <td>{% if grade.approval_date %}
                                                    {{ grade.approval_date }}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}



                                                </tr>
                                            {% endif %}
                                    {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>

{% endblock %}
