{% extends 'base_layout.html' %}
{% block content %}
    <section class="content">
        <!-- Info boxes -->
        <!-- Content Header (Page header) -->
        <section class="content-header">


            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Anasayfa</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            {% for url in urls %}
                                <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                                </li>
                                <li class="breadcrumb-item active">{{ url_name.name }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="card card-info card-outline">
                        <div class="card-body box-profile">
                            <div class="row">
                                {% if user.groups.all.count > 1 %}
                                    <div class="col-lg-6">
                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle"
                                                 src="/media/profile/user_IudVgaQ.png" alt="User profile picture">
                                        </div>
                                        <h3 class="profile-username text-center">{{ user.get_full_name }}</h3>
                                        <p class="text-muted text-center">{{ aktif }}</p>
                                    </div>
                                {% else %}
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle"
                                                 src="/media/profile/user_IudVgaQ.png" alt="User profile picture">
                                        </div>
                                        <h3 class="profile-username text-center">{{ user.get_full_name }}</h3>
                                        <p class="text-muted text-center">{{ aktif }}</p>
                                    </div>
                                {% endif %}
                                {% if user.groups.all.count > 1 %}
                                    <div class="col-lg-6">
                                        <ul class="list-group list-group-unbordered">

                                            {% for group in user.groups.all %}
                                                {% if not group.name == aktif %}
                                                    <li class="list-group-item">
                                                        <b>{{ group.name }}</b>
                                                        <a href="{% url 'sbs:change_activegroup' group.pk %}"
                                                           class="float-right"><span class="badge badge-info"> Grup Değiştir
                                                        <i style="margin-left: 5px"
                                                           class="fa fa-arrow-right"> </i></span> </a>
                                                    </li>
                                                {% endif %}

                                            {% endfor %}
                                        </ul>
                                    </div>{% endif %}
                            </div>
                            <hr>
                            {% if aktif == "Antrenör" %}
                                <a href="{% url "sbs:updateProfileCoach" %}" class="btn btn-outline-info btn-block"><b>Profil
                                    Bilgisi</b></a>


                            {% elif aktif == "Hakem" %}
                                <a href="{% url 'sbs:updateProfileReferee' %}"
                                   class="btn btn-outline-info btn-block"><b>Profil
                                    Bilgisi</b></a>


                            {% elif aktif == "Kulüp Yetkilisi" %}
                                <a href="{% url 'sbs:updateProfileClubUser' %}"
                                   class="btn btn-outline-info btn-block"><b>Profil
                                    Bilgisi</b></a>


                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline card-info">
                        <div class="card-header with-border">
                            <h3 class="card-title">Kokart Bilgileri</h3>

                        </div>
                        <div class="card-body">
                            {% if judge.grades.all %}
                                <table id="grade" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th> Kokart </th>
                                        <th> Branş </th>
                                        <th> Hak Kazanma Tarihi </th>
                                        <th> Kokart No </th>
                                        <th> Onaylanma Tarihi </th>
                                        <th> Aktif/Pasif </th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for grade in judge.grades.all %}
                                        <tr>
                                            {% if not grade.isDeleted and grade.status == grade.APPROVED %}

                                                <td>{{ forloop.counter }} </td>
                                                <td>{{ grade.definition }}  </td>
                                                <td>{{ grade.branch }}  </td>
                                                <td>{{ grade.gradeDate }}  </td>
                                                <td>{{ grade.gradeNo }}  </td>
                                                {% if grade.approval_date %}
                                                    <td>{{ grade.approval_date }}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                                <td>{% if grade.status == grade.APPROVED and grade.isActive %}
                                                    <span class="badge badge-success">Aktif</span>
                                                {% else %}
                                                    <span class="badge badge-danger">Pasif</span>
                                                {% endif %}
                                                </td>

                                            {% endif %}
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            {% else %}
                                <h5 style="color: red;">Aktif Kokart Bilginiz Bulunmamaktadır.</h5>
                            {% endif %}

                        </div>
                    </div>
                </div>
{#                <div class="col-lg-12">#}
{#                    <div class="card card-outline card-info">#}
{#                        <div class="card-header with-border">#}
{#                            <h3 class="card-title">Vize Bilgileri</h3>#}
{##}
{##}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            {% if judge.visa.all %}#}
{#                                <table id="visa" class="table table-bordered table-hover">#}
{#                                    <thead>#}
{#                                    <tr>#}
{#                                        <th>#</th>#}
{#                                        <th> Branş</th>#}
{#                                        <th> Dekont</th>#}
{#                                        <th> Geçerlilik Tarihi</th>#}
{#                                        <th> Onaylanma Tarihi</th>#}
{#                                        <th> Aktif/Pasif</th>#}
{##}
{##}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{##}
{#                                    {% for visa in judge.visa.all %}#}
{#                                        <tr>#}
{#                                            {% if not visa.isDeleted and visa.status == visa.APPROVED %}#}
{#                                                <td>{{ forloop.counter }} </td>#}
{#                                                <td>{{ visa.branch }}  </td>#}
{#                                                <td>{% if visa.dekont %}<a href="{{ visa.dekont.url }}"#}
{#                                                                           target="_blank">Dekont </a> {% endif %}</td>#}
{#                                                <td> {{ date }} </td>#}
{#                                                <td>{% if visa.approval_date %}#}
{#                                                    {{ visa.approval_date }}</td>#}
{#                                                {% else %}#}
{#                                                    <td></td>#}
{#                                                {% endif %}#}
{#                                                <td>{% if visa.status == visa.APPROVED and visa.isActive %}#}
{#                                                    <span class="badge badge-success">Aktif</span>#}
{#                                                {% else %}#}
{#                                                    <span class="badge badge-danger">Pasif</span>#}
{#                                                {% endif %}#}
{#                                                </td>#}
{#                                                </tr>#}
{#                                            {% endif %}#}
{#                                    {% endfor %}#}
{##}
{##}
{#                                    </tbody>#}
{#                                </table>#}
{#                            {% else %}#}
{#                                <h5 style="color: red;">Aktif Vize Bilginiz Bulunmamaktadır.</h5>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>

        </section>
        <!-- /.row -->
    </section>

{% endblock %}
