{% extends 'base_layout.html' %}
{% block content %}
    {% load  static %}
    <style>
        #loading {
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            opacity: 0.7;
            background-color: #fff;
            z-index: 100;
        }

        #loading-image {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 100;
        }
    </style>
    <section class="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ana Sayfa
            </h1>
            <ol class="breadcrumb float-sm-right" style="line-height: 0.3rem;">
                {% for url in urls %}
                    <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                    </li>
                    <li class="breadcrumb-item active">{{ url_name.name }}</li>
                {% endfor %}
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">

                <!-- ./col -->
                <div class="col-lg-6 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">

                            <h3>{{ total_club_user }}<sup style="font-size: 20px"></sup></h3>

                            <p>Kulüp Yetkili Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-male"></i>
                        </div>
                        <a href="{% url "sbs:return_clubs" %}" class="small-box-footer">
                            Daha Fazla <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-6 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ total_coach }}</h3>

                            <p>Kulüp Antrenör Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <a href="" class="small-box-footer"> <!-- url "sbs:kulup-uyeleri" -->
                            Daha Fazla <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->

            </div>
            <!-- /.row -->
            <div id="loading" style="display: none">

                <img id="loading-image" src="{% static 'loader/ring.gif' %}" alt="Loading..."/>
            </div>
            <section class="content ">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-info card-outline">
                            <div class="card-header border-0">
                                <h3 class="card-title">Kulüp Antrenörleri</h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                    <tr>
                                        <th>Fotoğraf</th>
                                        <th>Ad Soyad</th>
                                        <th>TC</th>
                                        <th>Telefon</th>
                                        <th>Detay</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for coach in coachs %}
                                        <tr>

                                            <td>
                                                <img
                                                        src="/media/{{ coach.person.profileImage }}"
                                                        class="img-responsive img-bordered imagesize " alt="Resim Yok"
                                                        style=" max-width: 10%; height: auto;"

                                                >
                                            </td>
                                            <td>{{ coach.person.user.get_full_name }}</td>
                                            <td>{{ coach.person.tc }}</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-phone"></i>
                                                </small>
                                                {{ coach.communication.phoneNumber }}
                                            </td>
                                            <td>
                                                <a onclick="detailCoach('{{ coach.uuid }}')" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-info card-outline">
                            <div class="card-header border-0">
                                <h3 class="card-title">Kulüp Yetkilileri</h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                    <tr>
                                        <th>Fotoğraf</th>
                                        <th>Ad Soyad</th>
                                        <th>TC</th>
                                        <th>Telefon</th>
                                        <th>Detay</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for clubUser in clubUsers %}
                                        <tr>

                                            <td>
                                                <img
                                                        src="/media/{{ clubUser.person.profileImage }}"
                                                        class="img-responsive img-bordered imagesize " alt="Resim Yok"
                                                        style=" max-width: 10%; height: auto;"

                                                >
                                            </td>
                                            <td>{{ clubUser.person.user.get_full_name }}</td>
                                            <td>{{ clubUser.person.tc }}</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-phone"></i>
                                                </small>
                                                {{ clubUser.communication.phoneNumber }}
                                            </td>
                                            <td>
                                                <a onclick="detailClubUser('{{ clubUser.uuid }}')" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <script>

        function detailCoach(id) {
            $('#loading').show()


            $.ajax({
                url: "{% url "sbs:detailCoach-api" %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    isActive: 'False',
                    uuid: id

                },
                success: function (result) {

                    if (result.status === 'Success') {
                        let coach = result.results
                        let html = ''
                        html += '<img src="' + coach.image + '" class="img-responsive img-bordered imagesize " style=" max-width: 10%; height: auto;margin-bottom:10px;">'
                        html += ' <table class="table table-bordered"> <thead><tbody> <tr><tr> <th>Kulüp</th><td>' + coach.club + '</td></tr> <th>Branş</th><td>' + coach.branch + '</td></tr><tr> <th>Kademe</th><td>' + coach.grade.name + '</td></tr> <tr> <th>Kademe Başl.Tarih</th><td>' + coach.grade.startDate + '</td></tr><tr> <th>Kademe Bitiş Tarih</th><td>' + coach.grade.finishDate + '</td></tr> <tr> <th>Vize</th><td>' + coach.visa.name + '</td></tr><tr> <th>Vize Başl.Tarih</th><td>' + coach.visa.startDate + '</td></tr> <tr> <th>Vize Bitiş Tarih</th><td>' + coach.visa.finishDate + '</td></tr><tr> <th>Email</th><td>' + coach.email + '</td></tr></thead>'
                        html += '  </tbody></table>'

                        swal.fire({
                            title: '<strong>' + coach.name + '</strong>',
                            html: html,
                            focusConfirm: false,
                            width: 'auto',
                            confirmButtonText: 'Kapat'


                        })
                        $('#loading').hide()


                    } else {
                        swal({
                            icon: 'error',
                            title: 'Bulunamadı!!',

                        })
                    }


                }
            });


        }
        function detailClubUser(id) {

            $('#loading').show()

            $.ajax({
                url: "{% url "sbs:detailClubUser-api" %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    isActive: 'False',
                    uuid: id

                },
                success: function (result) {
                    debugger;
                    if (result.status === 'Success') {
                        let clubUser = result.results
                        let html = ''
                        html += '<img src="' + clubUser.image + '" class="img-responsive img-bordered imagesize " style=" max-width: 20%; height: auto;margin-bottom:10px;">'
                        html += ' <table class="table table-bordered"> <thead><tbody> <tr> <th>TC</th><td>' + clubUser.tc + '</td></tr><tr> <th>Telefon</th><td>' + clubUser.phone + '</td></tr><tr> <th>Email</th><td>' + clubUser.email + '</td></tr> <tr> <th>Rol</th><td>' + clubUser.role + '</td></tr><tr> <th>Kulüp</th><td>' + clubUser.club + '</td></tr> </thead>'
                        html += '  </tbody></table>'

                        Swal.fire({
                            title: '<strong>' + clubUser.name + '</strong>',
                            html: html,
                            focusConfirm: false,
                            width: 'auto',
                            confirmButtonText: 'Kapat'


                        })
                        $('#loading').hide()


                    } else {
                        swal({
                            icon: 'error',
                            title: 'Bulunamadı!!',

                        })
                    }


                }
            });


        }

    </script>
{% endblock %}