{% extends 'base_layout.html' %}
{% block content %}
    {% load static %}
    <style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation {
        from {
            opacity: .99
        }
        to {
            opacity: 1
        }
    }

    .fc-event-main {
        cursor: pointer;
    }

    .hover-end {
        padding: 0;
        margin: 0;
        font-size: 75%;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: .8
    }


    .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1
    }

    .chartjs-size-monitor-expand > div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0
    }

    .chartjs-size-monitor-shrink > div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0
    }</style>

    <style>
        .svg-turkiye-haritasi {
            max-width: 1140px;
            margin: 0 auto;
            text-align: center;
        }

        .svg-turkiye-haritasi svg {
            width: 100%;
            height: auto;
        }


        #svg-turkiye-haritasi path {
            cursor: pointer;
            fill: #222;
        }

        #svg-turkiye-haritasi path:hover {
            fill: #1094F6;
        }

        #guney-kibris {
            pointer-events: none;
        }


        #il-isimleri {
            display: none;
            font-family: 'Open Sans';
            background: #1094F6;
            color: #fff;
            padding: 8px 16px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            position: absolute;
            z-index: 2;

        }

        #sehir {
            font-size: 30px;
            text-align: center;
            margin-top: 25px;
            color: #0000C0;
        }
    </style>




    <script type="text/javascript">
        var name;
        var city;

        $(function () {

            $("g").click(function (e) {
                $("#competition_list a").remove();
                var name = $(this).attr("data-iladi");
                var city = $(this).attr("data-plakakodu");
                $("#modal_city").text("");
                var yeka = null
                if ($("#selected_yeka").val() != "") {
                    yeka = $("#selected_yeka").val();
                }

                if (e.handled !== true) { // This will prevent event triggering more then once
                    e.handled = true;

                    $.ajax({
                        url: "{% url "sbs:api_connection_region_competitions"%}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False',
                            uuid: yeka,
                            plateNo: city,
                        },

                        success: function (result) {


                            if (result.status === 'Success') {
                                debugger;
                                var competitions = result.competitions;
                                $("#modal_city").text(name);

                                for (var comp in competitions) {

                                    var url_detail = "{% url 'sbs:view_yeka_competition_detail' '7729c6ee-739d-4a89-8ffe-1357e691ca16' %}";
                                    url_detail = url_detail.replace('7729c6ee-739d-4a89-8ffe-1357e691ca16', competitions[comp].competition_id);
                                    html = "<a href='" + url_detail + "' class='list-group-item list-group-item-action'>" + competitions[comp].yeka+' - '+competitions[comp].competition + "</a>"
                                    $("#competition_list").prepend(html)
                                }


                            }

                        },


                    });
                }
                $("#modal-competition").modal('show');
            }).hover(function (e) {

                var name = $(this).attr("data-iladi");
                const info = document.querySelector('#il-isimleri');
                const element = document.querySelector('#svg-turkiye-haritasi');


                var position = $('#svg-turkiye-haritasi').position();
                $('#il-isimleri').toggle();
                element.addEventListener(
                    'mouseover',
                    function (event) {
                        if (event.target.parentNode.id !== 'guney-kibris' || event.target.parentNode.id !== 'kuzey-kibris') {
                            info.style.display = 'block';
                            info.innerHTML = name
                        } else if (event.target.parentNode.id === 'guney-kibris') {

                            info.style.display = 'block';
                            info.innerHTML = 'Güney Kıbrıs';
                        } else if (event.target.parentNode.id === 'kuzey-kibris') {

                            info.style.display = 'block';
                            info.innerHTML = 'Kuzey Kıbrıs';
                        }
                    }
                );

                element.addEventListener(
                    'mousemove',
                    function (event) {
                        info.style.top = event.pageY - position.top + 'px';
                        info.style.left = event.pageX - position.left + 130 + 'px';
                    }
                );

                element.addEventListener(
                    'mouseout',
                    function (event) {
                        info.style.display = 'none';
                        info.innerHTML = '';
                    }
                );


            });


        });
    </script>

    <style type="text/css">


        /* custom styles for individual items, load this after vis-timeline-graph2d.min.css/vis-timeline-graph2d.min.css */

        .vis-item.green {
            background-color: greenyellow;
            border-color: green;
        }

        /* create a custom sized dot at the bottom of the red item */
        .vis-item.red {
            background-color: red;
            border-color: darkred;
        }

        .vis-item.vis-dot.red {
            border-radius: 10px;
            border-width: 10px;
        }

        {#.vis-item.vis-line.red {#}
        {#    border-width: 5px;#}
        {# }#}
        {##}
        {#.vis-item.vis-box.red {#}
        {#    border-radius: 0;#}
        {#    border-width: 2px;#}
        {#    font-size: 24pt;#}
        {#    font-weight: bold;#}
        {#  #}

        .vis-item.orange {
            background-color: gold;
            border-color: orange;
        }

        .vis-item.vis-selected.orange {
            /* custom colors for selected orange items */
            background-color: orange;
            border-color: orangered;
        }

        .vis-item.magenta {
            background-color: magenta;
            border-color: purple;
            color: white;
        }

        /* our custom classes overrule the styles for selected events,
           so lets define a new style for the selected events */
        .vis-item.vis-selected {
            background-color: white;
            border-color: black;
            color: black;
            box-shadow: 0 0 10px gray;
        }
    </style>


    <link rel="stylesheet" href="{% static 'vis/css/vis-timeline-graph2d.min.css' %}">
    <script src="{% static 'vis/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'vis/js/vis-timeline-graph2d.min.js' %}"></script>

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right" style="line-height: 0.3rem;">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">

        <!-- Content Header (Page header) -->


        <div class="modal modal-success modal-success-food fade in" id="modal-error" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">İşlem Başarılı</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body errorModal">
                        ...
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- success modal -->
        <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">İşlem Başarılı</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body successModal">
                        ...
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <h4 class="modal-title">Uyarı</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Yekayı Silmek istediğinizden emin misiniz ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                                data-dismiss="modal">Evet
                        </button>
                        <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <div class="modal modal-default modal-success-food fade in" id="modal-error" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">İşlem Başarılı</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body errorModal">
                        ...
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal modal-success modal-success-food fade in" id="modal-competition" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><span id="modal_city"></span> Yarışma Listesi</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body successModal">

                        <div class="list-group" id="competition_list">


                        </div>


                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-6 col-6">
                        <!-- small card -->
                        <div class="small-box bg-gradient-blue">
                            <div class="inner">
                                <h3>  {{ res_count }}</h3>
                                <p>Rüzgar Enerjisi</p>

                            </div>
                            <div class="icon">

                                <i class="fa fa-wind"></i>
                            </div>
                            <a href="{% url 'sbs:view_yeka_by_type' 'Rüzgar' %}" class="small-box-footer">
                                <i class="fas fa-arrow-circle-right"></i>Daha Fazla Bilgi
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-6 col-6">
                        <!-- small card -->
                        <div class="small-box bg-gradient-yellow">
                            <div class="inner">
                                <h3>  {{ ges_count }}</h3>
                                <p>Güneş Enerjisi</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-sun"></i>
                            </div>
                            <a href="{% url 'sbs:view_yeka_by_type' 'Güneş' %}" class="small-box-footer">
                                <i class="fas fa-arrow-circle-right"></i>Daha Fazla Bilgi
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    </section>










    <script type="text/javascript">
        $("#select_pieChart").change(function (e) {
            var graphArray2 = []
            var accepts = []
            let label2 = []
            $.ajax({
                url: "{% url "sbs:api_yeka_accept" %}",
                type: "POST",
                async: true,
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    pk: $(this).val(),
                },
                success: function (result) {
                    debugger;
                    accepts = result.accepts;
                    if (accepts.length > 0) {
                        var html = ''
                        html += '<canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 572px;" width="715" height="312" class="chartjs-render-monitor"></canvas>';
                        document.getElementById('chart').innerHTML = html;

                        var x = accepts;
                        for (var i = 0; i < x.length; i++) {
                            label2.push(x[i].label.toString())
                            graphArray2.push(x[i].power)

                        }

                        var donutData2 = {
                            labels: label2,
                            datasets: [
                                {
                                    data: graphArray2,
                                    backgroundColor: [ '#00a65a','#f56954', '#f39c12', '#24c2d0', '#3c8dbc', '#d2d6df', '#ce60d0', '#f1d53b', '#3275d5', '#4659c7', '#d77399', '#fc0000'],
                                }
                            ]
                        }


                        var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d')
                        var pieData2 = donutData2;
                        var pieOptions2 = {
                            maintainAspectRatio: false,
                            responsive: true,
                        }
                        //Create pie or douhnut chart
                        // You can switch between pie and douhnut using the method below.
                        new Chart(pieChartCanvas2, {
                            type: 'pie',
                            data: pieData2,
                            options: pieOptions2
                        })
                    } else {
                        var html2 = ''
                        html2 = 'Yarışmaya ait kabul bulunmamaktadır';
                        document.getElementById('chart').innerHTML = html2;
                    }


                }
            })

        })


        function all_region() {
            var data = new Array();
            {% if regions %}
                {% for region in regions %}
                    {% for item in region.cities.all %}
                        data.push("{{ item.plateNo }}");
                        count = data.filter(x => x =={{ item.plateNo }}).length;
                        degerAta(count, '{{ item.plateNo }}');
                    {% endfor %}
                {% endfor %}
            {% endif %}
        };


        // DOM element where the Timeline will be attached
        var container = document.getElementById("visualization");
        var groups = new vis.DataSet([
            {% for item in yeka %}
                {id: {{ item.pk }}, content: '{{ item.definition }}'},
            {% endfor %}

        ]);

        // Create a DataSet (allows two way data-binding)
        var items = new vis.DataSet([
            {% for item in yeka %}
                {% for yekabusinessblok in item.business.businessblogs.all %}

                    {%  if   yekabusinessblok.startDate   %}
                        {%  if   yekabusinessblok.status   %}
                            {
                                id: "{{ yekabusinessblok.uuid}}",
                                content: "{{ yekabusinessblok.businessblog.name }}",
                                start: "{{ yekabusinessblok.startDate| date:"Y-m-d" }}",
                                end: "{{ yekabusinessblok.finisDate| date:"Y-m-d" }}",
                                url: "{% url "sbs:view_yekabusinessblog_gant" item.uuid yekabusinessblok.uuid %}",
                                group: {{ item.pk }},
                                className: 'green',
                            },
                        {% else %}
                            {
                                id: "{{ yekabusinessblok.uuid}}",
                                content: "{{ yekabusinessblok.businessblog.name }}",
                                start: "{{ yekabusinessblok.startDate| date:"Y-m-d" }}",
                                url: "{% url "sbs:view_yekabusinessblog_gant" item.uuid yekabusinessblok.uuid %}",
                                group: {{ item.pk }},
                                className: 'red',
                            },
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% for extra in ekstratimes %}


                {
                    id: "{{ extra.uuid}}",
                    content: "{{ extra.content }}",
                    start: "{{ extra.start | date:"Y-m-d" }}",
                    end: "{{ extra.finish | date:"Y-m-d" }}",
                    url: "{% url "sbs:view_yekabusinessblog_gant" yeka.uuid  extra.bloguuid %}",
                    className: 'red',
                },

            {% endfor %}
        ]);
        var options = {
            editable: true,
            height: '500px',
            width: '100%',
            locale: 'tr',
        };
        var timeline = new vis.Timeline(container, items, groups, options);
        timeline.on('click', function (properties) {
            if (properties.item != null) {
                var clickedNodes = items.get(properties.nodes);
                for (let i = 0; i < clickedNodes.length; i++) {
                    if (clickedNodes[i].id == properties.item) {
                        window.open(clickedNodes[i].url, '_blank');
                    }
                }
            }
        });


        $(function () {


            all_region();

            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
            $("#id_yeka_select").change(function (e) {

                debugger;
                if ($(this).val() === 'all_regions') {
                    var select2 = document.getElementById('selected_yeka')
                    var select3 = document.getElementById('selected_yeka_type')
                    select2.style.display = 'none';
                    select2.value = ""
                    select3.value = ""
                    select3.style.display = 'none';
                    $("g path").css({fill: '#222'});
                    all_region();
                } else if ($(this).val() === 'select_yeka') {
                    var select = document.getElementById('selected_yeka_type')
                    select.style.display = 'none';
                    select.value = ""
                    document.getElementById('selected_yeka').style.display = 'block';

                } else if ($(this).val() === 'yeka_type_select') {
                    var select4 = document.getElementById('selected_yeka')
                    select4.style.display = 'none';
                    select4.value = ""
                    document.getElementById('selected_yeka_type').style.display = 'block';

                }

            });

            $("#selected_yeka").change(function (e) {

                debugger;

                if (e.handled !== true) { // This will prevent event triggering more then once
                    e.handled = true;

                    $.ajax({
                        url: "{% url "sbs:api_connection_region_cities" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: $(this).val(),
                        },
                        success: function (result) {
                            debugger;
                            console.log(result)

                            if (result.status === 'Success') {
                                $("g path").css({fill: '#222'});
                                var cities = JSON.parse(result.cities[0]);
                                var regions = JSON.parse(result.cities[1]);
                                var city_array = []
                                for (var x in regions) {
                                    var capacity = 0
                                    var city = regions[x].fields.cities
                                    capacity = regions[x].fields.capacity;
                                    var field = {
                                        cities: city,
                                        capacity: capacity,
                                    }
                                    city_array.push(field)
                                }
                                for (var k in city_array) {
                                    var region_city = $("g[data-plakakodu=" + cities[k].fields.plateNo + "] path")
                                    console.log(cities[k].fields.plateNo);
                                    if (city_array[k].capacity > 0 && city_array[k].capacity <= 100) {
                                        region_city.css({fill: '#007bff'});
                                    } else if (city_array[k].capacity > 100 && city_array[k].capacity <= 250) {
                                        region_city.css({fill: '#28a745'});
                                    } else if (city_array[k].capacity >= 250 && city_array[k].capacity <= 500) {
                                        region_city.css({fill: '#ffc107'});
                                    } else if (city_array[k].capacity >= 500 && city_array[k].capacity <= 750) {
                                        region_city.css({fill: '#fd7e14'});
                                    } else if (city_array[k].capacity >= 750 && city_array[k].capacity <= 1000) {
                                        region_city.css({fill: '#dc3545'});
                                    }

                                }

                                var html = '<ul class="fc-color-picker" id="color-chooser" style="font-size: 25px">';
                                html += ' <li><a class="text-primary" style="font-size: 20px" ><i class="fas fa-square"></i> 0-100 MW</a></li>';
                                html += ' <li><a class="text-warning" style="font-size: 20px"><i class="fas fa-square"></i> 100-250 MW</a></li>';
                                html += ' <li><a class="text-success" style="font-size: 20px"><i class="fas fa-square"></i> 250-500 MW</a></li>';
                                html += '<li><a class="text-orange" style="font-size: 20px"><i class="fas fa-square"></i> 500-750 MW</a></li>';
                                html += '<li><a class="text-danger" style="font-size: 20px"><i class="fas fa-square"></i> 750-1000 MW</a></li></ul>';

                                document.getElementById('color-picker').innerHTML = html;
                            }

                        }
                    });

                }
            });
            $("#selected_yeka_type").change(function (e) {

                debugger;

                if (e.handled !== true) { // This will prevent event triggering more then once
                    e.handled = true;

                    $.ajax({
                        url: "{% url "sbs:api_yeka_by_type" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            type: $(this).val(),
                        },
                        success: function (result) {
                            debugger;
                            console.log(result)

                            if (result.status === 'Success') {
                                $("g path").css({fill: '#222'});
                                var type = result.yeka_type_cities;
                                var city_array = []

                                for (var i in type) {
                                    var region_city = $("g[data-plakakodu=" + type[i].city + "] path")
                                    console.log(type[i].city);
                                    if (type[i].count > 0 && type[i].count <= 2) {
                                        region_city.css({fill: '#007bff'});
                                    } else if (type[i].count > 2 && type[i].count <= 4) {
                                        region_city.css({fill: '#28a745'});
                                    } else if (type[i].count >= 4 && type[i].count <= 6) {
                                        region_city.css({fill: '#ffc107'});
                                    } else if (type[i].count >= 6 && type[i].count <= 8) {
                                        region_city.css({fill: '#fd7e14'});
                                    } else if (type[i].count >= 8 && type[i].count <= 10) {
                                        region_city.css({fill: '#dc3545'});
                                    }

                                }

                                var html = '<ul class="fc-color-picker" id="color-chooser" style="font-size: 25px">';
                                html += ' <li><a class="text-primary" style="font-size: 20px" ><i class="fas fa-square"></i> 0-2 </a></li>';
                                html += ' <li><a class="text-warning" style="font-size: 20px"><i class="fas fa-square"></i> 2-4 </a></li>';
                                html += ' <li><a class="text-success" style="font-size: 20px"><i class="fas fa-square"></i> 4-6 </a></li>';
                                html += '<li><a class="text-orange" style="font-size: 20px"><i class="fas fa-square"></i> 6-8</a></li>';
                                html += '<li><a class="text-danger" style="font-size: 20px"><i class="fas fa-square"></i> 8-10</a></li></ul>';

                                document.getElementById('color-picker').innerHTML = html;
                            }

                        }
                    });

                }
            });
            var data = new Array();


            {#            {% for item in cities %}#}
            {#                data.push("{{ item.city.plateNo }}");#}
            {#                count = data.filter(x => x =={{ item.city.plateNo }}).length;#}
            {#                degerAta(count, {{ item.city.plateNo }});#}
            {#            {% endfor %}#}


            /* initialize the external events
             -----------------------------------------------------------------*/
            function ini_events(ele) {
                ele.each(function () {

                    // create an Event Object (https://fullcalendar.io/docs/event-object)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).text()) // use the element's text as the event title
                    }

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject)

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 1070,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    })

                })
            }

            ini_events($('#external-events div.external-event'))

            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            debugger;
            var date = new Date()
            var d = date.getDate(),
                m = date.getMonth(),
                y = date.getFullYear()

            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendar.Draggable;

            var containerEl = document.getElementById('external-events');
            var calendarEl = document.getElementById('calendar');

            // initialize the external events
            // -----------------------------------------------------------------
            debugger;
            new Draggable(containerEl, {

                itemSelector: '.external-event',
                eventData: function (eventEl) {
                    console.log(containerEl)
                    return {
                        title: eventEl.innerText,
                        backgroundColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                        borderColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                        textColor: window.getComputedStyle(eventEl, null).getPropertyValue('color'),
                    };
                }
            });

            var calendar = new Calendar(calendarEl, {
                monthNames: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                monthNamesShort: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                dayNames: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
                dayNamesShort: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
                buttonText: {
                    today: 'Bugün',
                    month: 'Ay',
                    week: 'Hafta',
                    day: 'Gün',
                    list: 'Liste',
                    listMonth: 'Aylık Liste',
                    listYear: 'Yıllık Liste',
                    listWeek: 'Haftalık Liste',
                    listDay: 'Günlük Liste'
                },
                locale: 'tr',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                themeSystem: 'bootstrap',
                //Random default events


                events: [
                    {% for i in vacation_days %}
                        {
                            title: "{{ i.definition }}",
                            start: "{{ i.date | date:"Y-m-d" }}",
                            backgroundColor: '#f88507', //red
                            borderColor: '#f88507', //red
                            allDay: true,
                        },
                    {% endfor %}
                    {% for x in yeka %}

                        {
                            title: "{{ x.definition }}",
                            start: "{{ x.date | date:"Y-m-d" }}",
                            backgroundColor: '#007bff', //red
                            borderColor: '#007bff', //red
                            allDay: true,
                            url: '{% url 'sbs:view_yeka_detail' x.uuid %}'
                        },
                    {% endfor %}
                    {% for x in calender_nots %}

                        {
                            title: "{{ x.calendarName.name }}",
                            start: "{{ x.startDate | date:"Y-m-d" }}",
                            end:"{{ x.finishDate | date:"Y-m-d" }}",
                            backgroundColor: '#d50000', //red
                            borderColor: '#000000', //red
                            allDay: true,
                            url: '{% url 'sbs:view_yeka_competition_detail' x.competition.uuid %}'

                        },
                    {% endfor %}

                ],
                eventClick: function (info) {
                    info.jsEvent.preventDefault(); // don't let the browser navigate

                    if (info.event.url) {
                        window.open(info.event.url);
                    }
                },


                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (info) {

                    var tuuid = info.draggedEl.id;
                    var tdates = info.dateStr;
                    console.log(tuuid);
                    console.log(tdates);
                    $.ajax({
                        url: "{% url "sbs:add_calendarfdk" %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            uuid: tuuid,
                            dates: tdates,
                        },
                        success: function (result) {
                            console.log(result.status)
                        }
                    });

                }

            });


            calendar.render();
            // $('#calendar').fullCalendar()

            /* ADDING EVENTS */
            var currColor = '#3c8dbc' //Red by default
            // Color chooser button
            $('#color-chooser > li > a').click(function (e) {
                e.preventDefault()
                // Save color
                currColor = $(this).css('color')
                // Add color effect to button
                $('#add-new-event').css({
                    'background-color': currColor,
                    'border-color': currColor
                })
            })
            $('#add-new-event').click(function (e) {
                e.preventDefault()
                // Get value and make sure it is not null
                var val = $('#new-event').val()
                if (val.length == 0) {
                    return
                }

                // Create events
                var event = $('<div />')
                event.css({
                    'background-color': currColor,
                    'border-color': currColor,
                    'color': '#fff'
                }).addClass('external-event')
                event.text(val)
                $('#external-events').prepend(event)

                // Add draggable funtionality
                ini_events(event)

                // Remove event from text input
                $('#new-event').val('')
            })
        })


        function increase_brightness(hex, percent) {
            // strip the leading # if it's there
            hex = hex.replace(/^\s*#|\s*$/g, '');

            // convert 3 char codes --> 6, e.g. `E0F` --> `EE00FF`
            if (hex.length == 3) {
                hex = hex.replace(/(.)/g, '$1$1');
            }

            var r = parseInt(hex.substr(0, 2), 16),
                g = parseInt(hex.substr(2, 2), 16),
                b = parseInt(hex.substr(4, 2), 16);

            return '#' +
                ((0 | (1 << 8) + r + (256 - r) * percent / 100).toString(16)).substr(1) +
                ((0 | (1 << 8) + g + (256 - g) * percent / 100).toString(16)).substr(1) +
                ((0 | (1 << 8) + b + (256 - b) * percent / 100).toString(16)).substr(1);
        }


        function degerAta(count, city) {
            if (city.length < 2) {
                city = '0' + city;
            }

            var array_color = ['#fcee8d', '#f6af71', '#fc8553', '#f18e48', '#ff6b07', '#ee4900', '#ff0000']


            var value = (count % 6);
            $("g[data-plakakodu=" + city + "] path").css({fill: array_color[value]})


        }


    </script>

{% endblock %}