{% extends 'base_layout.html' %}

{% block content %}

    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header orange">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>




    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Hakem Kademe Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>

    <section class="content">

        <div class="row">
            <section class="col-lg-12 ">


                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title">Kademeler</h3>
                        {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
                            <button onclick="onay()" type="button" class="btn btn-outline-success btn-sm"
                                    style="float: right">
                                <i class="fa fa-check"></i>
                                Hepsini Onayla
                            </button>
                            <button onclick="reddet()" type="button" class="btn btn-outline-danger btn-sm"
                                    style="float: right;margin-right: 5px">
                                <i class="fa fa-trash"></i>
                                Hepsini Reddet
                            </button>

                        {% endif %}
                    </div>

                    <div class="card-body">

                    </div>
                    <div class="card-body">
                        <table id="grades" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th> Ad</th>
                                <th>Brans</th>
                                <th> Hak Kazanma Tarihi</th>
                                <th> Onay Durumu</th>
                                <th> Kademe</th>
                                <th> Dekont</th>
                                <th> Onayla/Reddet</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% if refereeGrades.all %}
                                {% for refereeGrade in refereeGrades %}
                                    <tr>

                                        <td>{{ forloop.counter }} </td>

                                        <td>

                                            <a target="_blank">{{ refereeGrade.Refereegrades.first }} </a>

                                        </td>
                                        <td>{{ refereeGrade.branch }}</td>

                                        <td>{{ refereeGrade.startDate }}  </td>


                                        <td>{{ refereeGrade.status }}  </td>
                                        <td>{{ refereeGrade.definition }}  </td>

                                        <td>
                                            {% if refereeGrade.dekont %}
                                                <a href="/media/{{ refereeGrade.dekont }}" class="user-image" alt="sbs"
                                                   target="_blank">
                                                    <img src="/media/{{ refereeGrade.dekont }}" class="user-image"
                                                         alt="sbs" style=" width: 30px;height: 30px;">
                                                </a>
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
                                                {% for item in perm %}
                                                    {% if item == 'update_grades' %}
                                                        <div class="btn-group">
                                                            <a href="{% url "sbs:grade_list_approval" uuid=refereeGrade.uuid %}"
                                                               type="button" class="btn btn-outline-success"
                                                               title="Onayla"><i
                                                                    class="fa fa-check"></i>
                                                            </a>
                                                        </div>

                                                    {% elif item == 'delete_grades' %}
                                                        <div class="btn-group">
                                                            <a href="{% url "sbs:grade_list_reject" uuid=refereeGrade.uuid %}"
                                                               type="button" class="btn btn-outline-danger"
                                                               title="Reddet"><i
                                                                    class="fa fa-minus"></i>
                                                            </a>
                                                        </div>
                                                    {% endif %}


                                                {% endfor %}

                                            {% endif %}
                                        </td>


                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>
                    </div>


                    <!-- /.box -->


                </div>
            </section>
        </div>

        <!-- /.row (main row) -->

    </section>

    {% load  static %}
    <script>
        $(function () {
            $('#grades').DataTable({
                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'YEKA LİSTESİ',
                        text: '<i class="fa fa-print"></i>',

                        titleAttr: 'Yazdır',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf"></i>',

                        titleAttr: 'Pdf Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },

                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i>',
                        titleAttr: 'Excel Kaydet',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },


                ],
                "search": {
                    "caseInsensitive": true,
                },
                'language': {
                    "url": "{% static 'datatable_tr/datatable_tr.json' %}"
                },
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'order': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,
            });
            table.on('draw.dt', function () {
                debugger;
                table.column(0, {
                    search: 'applied',
                    order: 'applied',
                    page: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            });

        })
    </script>

    {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
        <script>
            function onay() {

                swal({
                    title: "Tüm başvuruları Onaylıyor musunuz?",
                    icon: "warning",
                    buttons: [
                        'Hayır!',
                        'Evet'
                    ],
                }).then((result) => {
                    if (result.dismiss !== 'Evet') {
                        $.ajax({
                            url: "{% url "sbs:grade-list-approval-all"%}",
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                isActive: 'False'
                            },
                            success: function (result) {
                                if (result.status === 'Success') {
                                    swal({
                                        icon: 'success',
                                        title: 'İşlem başarılı !!',

                                    })

                                } else {
                                    swal({
                                        icon: 'error',
                                        title: 'İşlem başarısız !!',

                                    })
                                }
                                window.location.replace("{% url "sbs:grade_list"%}");

                            }

                        });

                    }

                })


            }


        </script>
        <script>


            function reddet() {
                 swal({
                    title: "Tüm başvuruları reddetmek istiyor musunuz?",
                    icon: "warning",
                    buttons: [
                        'Hayır!',
                        'Evet'
                    ],
                }).then((result) => {
                    if (result.dismiss !== 'Evet') {
                        $.ajax({
                            url: "{% url "sbs:grade-list-reject-all"%}",
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                isActive: 'False'
                            },
                            success: function (result) {
                                if (result.status === 'Success') {
                                    swal({
                                        icon: 'success',
                                        title: 'İşlem başarılı !!',

                                    })

                                } else {
                                    swal({
                                        icon: 'error',
                                        title: 'İşlem başarısız !!',

                                    })
                                }
                                window.location.replace("{% url "sbs:grade_list"%}");

                            }
                        });

                    }

                })


            }



        </script>
    {% endif %}

{% endblock %}

