{% extends 'base_layout.html' %}

{% block content %}

    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">İşlem Başarılı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header orange">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade in deneme223" tabindex="-1" role="dialog" id="modal-delete"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h4 class="modal-title">Uyarı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf1"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close1">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% if messages %}
        {% for message in messages %}

            <div id="toast-container" class="toasts-top-right">
                {% if message.tags == 'warning' %}
                    <div class="toast toast-error" aria-live="polite" style="" id="toast">
                        <div class="toast-message">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>



                {% endif %}

                {% if message.tags == 'success' %}
                    <div class="toast toast-success" aria-live="polite" style="" id="toast">
                        <div class="toast-message"> {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    </div>



                {% endif %}
            </div>
        {% endfor %}


    {% endif %}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>




    <section class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% for url in urls %}
                            <li class="breadcrumb-item"><a href="{{ url.last }}">{{ url.last_url_name }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ url_name.name }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </section>

    <section class="content">

        <div class="row">
            <section class="col-lg-12 ">
                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <div class="card-title">
                            <h3>Onay Durumu</h3>
                            <h3 class="card-title">{{ competition.status }}</h3>
                        </div>

                        <div class="card-header with-border">
                            {% if competition.status == 'Beklemede' %}
                                <div class="text-right">
                                    <a href="{% url "sbs:referee-visa-seminar-approval" competition.uuid %}"
                                       type="button" class="btn btn-outline-warning"><i
                                            class="fa fa-check"></i>Onayla
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title">Genel Bilgiler</h3>
                    </div>

                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" role="form">
                            {% csrf_token %}
                            <div class="row">

                                <div class="col-lg-12">

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label> {{ competition_form.name.label }}</label>
                                                    {{ competition_form.name }}
                                                </div>

                                                <div class="form-group">
                                                    <label> {{ competition_form.startDate.label }}</label>
                                                    {{ competition_form.startDate }}
                                                </div>


                                                <div class="form-group">
                                                    <label> {{ competition_form.location.label }}</label>
                                                    {{ competition_form.location }}
                                                </div>


                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label> {{ competition_form.branch.label }}</label>
                                                    {{ competition_form.branch }}
                                                </div>
                                                <div class="form-group">
                                                    <label> {{ competition_form.finishDate.label }}</label>
                                                    {{ competition_form.finishDate }}
                                                </div>

                                                <div class="form-group">
                                                    <label> {{ competition_form.year.label }}</label>
                                                    {{ competition_form.year }}
                                                </div>


                                            </div>


                                        </div>





                                </div>
                            </div>
                        </form>
                    </div>
                     <div class="card-footer">
                                            {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}

                                                <button class="btn btn-outline-info" type="submit" style="float: right">Kaydet</button>
                                            {% endif %}

                                        </div>
                </div>
                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title"> Seçili Hakemler</h3>


                            <a href="{% url "sbs:add-referee-visa-seminar" competition.uuid %}"
                               type="button" class="btn btn-outline-info" title="Hakem Ekle" style="float:right;"><i
                                    class="fa fa-plus"></i>
                            </a>


                    </div>

                    <div class="card-body">
                        <table id="sporcular" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>T.C.</th>

                                <th>Mail Adresi</th>
                                <th>Telefon</th>

                                <th>İşlemler</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% if referees %}
                                {% for referee in referees %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ referee.person.user.first_name }} {{ referee.person.user.last_name }} </td>

                                        <td>{{ referee.person.tc }} </td>
                                        <td>{{ referee.person.user.email }} </td>
                                        <td>{{ referee.communication.phoneNumber }} </td>


                                        <td>
                                            <div class="btn-group">
                                                <a onclick="deleteReferee('{{ referee.uuid }}', '{{ competition.uuid }}')"
                                                   type="button" class="btn btn-outline-danger" title="Kaldır"><i
                                                        class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>

                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>

                    </div>


                </div>
                <div class="card card-info card-outline">
                    <div class="card-header with-border">
                        <h3 class="card-title"> Basvuru Yapan Hakemler</h3>
                    </div>
                    <div class="card-body">
                        <table id="hakemler" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>T.C.</th>
                                <th>Mail Adresi</th>
                                <th>Telefon</th>
                                <th>Dekont</th>

                                <th>Onay Durumu</th>

                                <th>İşlemler</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% if competition %}
                                {% for compReferee in competition.refereeApplication.all %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ compReferee.referee.person.user.first_name }} {{ compReferee.referee.person.user.last_name }} </td>
                                        <td>{{ compReferee.referee.person.tc }} </td>
                                        <td>{{ compReferee.referee.person.user.email }} </td>
                                        <td>{{ compReferee.referee.communication.phoneNumber }} </td>
                                        <td>
                                            <a href="/media/{{ compReferee.dekont }}"
                                               target="_blank">{{ compReferee.dekont }}</a>
                                        </td>
                                        <td> {{ compReferee.status }}</td>


                                        <td>
                                            {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}


                                                 {% for item in perm %}
                                                    {% if item == 'approval-referee-application-visa-seminar' %}
                                                        <div class="btn-group">

                                                            <a class="btn btn-outline-success"
                                                               data-toggle="modal" title="Onayla"
                                                              onclick="onayla('{{ compReferee.uuid }}', '{{ competition.uuid }}')"><i
                                                                    class="fa fa-check"></i></a>

                                                        </div>

                                                    {% elif item == 'delete-referee-application-visa-seminar' %}
                                                        <div class="btn-group">
                                                            <a class="btn btn-outline-danger"
                                                               data-toggle="modal" title="Reddet"
                                                               onclick="reddet('{{ compReferee.uuid }}', '{{ competition.uuid }}')"><i
                                                                    class="fa fa-trash"></i></a>
                                                        </div>
                                                    {% endif %}


                                                {% endfor %}



                                            {% endif %}
                                        </td>

                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </section>

    {% load  static %}

    {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}

        <script>
            function deleteReferee(referee_uuid, competition_uuid) {
                debugger;

                swal({
                    title: "Silmek istediğinizden emin misiniz?",

                    icon: "warning",
                    buttons: [
                        'Hayır!',
                        'Evet'
                    ],
                }).then((result) => {
                    if (result.dismiss !== 'Evet') {

                        $.ajax({
                            url: "{% url "sbs:delete-referee-visa-seminar" %}".replace(),
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                referee_uuid: referee_uuid,
                                competition_uuid: competition_uuid,
                                isActive: 'False'
                            },
                            success: function (result) {
                                if (result.status === 'Success') {
                                    swal({
                                        icon: 'success',
                                        title: 'Başarıyla silindi !!',

                                    })

                                } else {
                                    swal({
                                        icon: 'error',
                                        title: 'İşlem başarısız !!',

                                    })
                                }
                                location.reload();

                            }
                        });
                    }

                })


            }

            function reddet(refereeApplication_uuid, seminer_uuid) {
                debugger;

                swal({
                    title: "Reddetmek istediğinizden emin misiniz?",
                    icon: "warning",
                    buttons: [
                        'Hayır!',
                        'Evet'
                    ],
                }).then((result) => {
                    if (result.dismiss !== 'Evet') {

                        $.ajax({
                            url: "{% url "sbs:delete-referee-application-visa-seminar" %}",
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                refereeApplication_uuid: refereeApplication_uuid,
                                seminer_uuid: seminer_uuid,
                                isActive: 'False'
                            },
                            success: function (result) {
                                if (result.status === 'Success') {
                                    swal({
                                        icon: 'success',
                                        title: 'Reddedildi',

                                    })

                                } else {
                                    swal({
                                        icon: 'error',
                                        title: 'İşlem Başarısız !!',

                                    })
                                }
                                location.reload();

                            }
                        });
                    }

                })


            }

            function onayla(refereeApplication_uuid, seminer_uuid) {
                debugger;

                swal({
                    title: "Onaylamak istediğinizden emin misiniz?",
                    icon: "warning",
                    buttons: [
                        'Hayır!',
                        'Evet'
                    ],
                }).then((result) => {
                    if (result.dismiss !== 'Evet') {

                        $.ajax({
                            url: "{% url "sbs:approval-referee-application-visa-seminar" %}",
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                refereeApplication_uuid: refereeApplication_uuid,
                                seminer_uuid: seminer_uuid,
                                isActive: 'False'
                            },
                            success: function (result) {
                                if (result.status === 'Success') {
                                    swal({
                                        icon: 'success',
                                        title: 'Onaylandı',

                                    })

                                } else {
                                    swal({
                                        icon: 'error',
                                        title: 'İşlem Başarısız !!',

                                    })
                                }
                                location.reload();

                            }
                        });
                    }

                })


            }


        </script>

    {% endif %}

{% endblock %}

