<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="center">
    <u><strong>TAAHH&Uuml;TNAME</strong></u></p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="center">&nbsp;</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">1-İşbu taahh&uuml;tname uyarınca&nbsp; T&uuml;rkiye V&uuml;cut Geliştirme ,Fitness ve Bilek G&uuml;reşi Federasyonu'na başvuran antren&ouml;r, kimlik bilgileri (adı, soyadı, T.C kimlik numarası, doğum tarihi, doğum yeri), fotoğrafı, IBAN numarası, kayıtlı olduğu kul&uuml;p bilgisi, antren&ouml;r belgesi, cep telefonu, sabit telefonu, adresi, kademe bilgileri, antren&ouml;r s&ouml;zleşme belgesi, SGK/Bağ-Kur belgesi ve Vize Dekont belgesi de dahil olmak &uuml;zere, T&uuml;rkiye
    V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu ve T.C Gen&ccedil;lik ve Spor Bakanlığı <span
            style="display: inline-block; border: none; padding: 0in;">tarafından talep edilen kendilerine ait t&uuml;m bilgileri eksiksiz ve doğru bir şekilde bildirdiğini kabul, beyan ve taahh&uuml;t eder.</span>
</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify"><span
        style="display: inline-block; border: none; padding: 0in;">2- Antren&ouml;r; y&uuml;r&uuml;rl&uuml;kteki mevzuata, işbu taahh&uuml;tnameye ve diğer t&uuml;m kurallara uygun davranmayı kabul, beyan ve taahh&uuml;t eder.</span>
</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify"><span
        style="display: inline-block; border: none; padding: 0in;">3- Antren&ouml;r tarafından eksik ya da hatalı bilgiler verilmesi durumunda</span>
    T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu tarafından başvurusunun reddi d&acirc;hil olmak &uuml;zere tesis edilecek işlemleri kabul eder. Ger&ccedil;eğe aykırı ya da sahte belgeler sunulması durumunda hakkında disiplin ve cezai işlemler yapılacağını kabul ve taahh&uuml;t eder.
</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%; background: #ffffff;" align="justify">4- Antren&ouml;r
    bu taahh&uuml;tname ile birlikte onayladığı KİŞİSEL VERİLERİN KORUNMASI POLİTİKASI ve ELEKTRONİK TİCARET İLETİŞİM
    İZNİ formu doğrultusunda kampanya, reklam ve bilgilendirme ama&ccedil;lı olarak e-posta adresine ve cep telefonuna,
    e-posta ve SMS g&ouml;nderilmesine izin verir, kişisel verilerinin işlenmesini kabul eder.</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify"><span
        style="display: inline-block; border: none; padding: 0in;">5- Uyuşmazlık Durumunda Yetkili Mahkeme ve İcra Daireleri Ankara Mahkemeleri&rsquo;dir.</span>
</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">&nbsp;</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%; background: #ffffff;" align="center"><u><strong>KİŞİSEL
    VERİLERİN İŞLENMESİ ONAY FORMU</strong></u></p>
<p style="text-indent: 0.49in; margin-bottom: 0in; line-height: 150%; background: #ffffff;" align="justify">&nbsp;</p>
<p style="margin-bottom: 0in; line-height: 150%; background: #ffffff;" align="justify">T&uuml;rkiye V&uuml;cut
    Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu ile paylaştığım kişisel veri veya &ouml;zel nitelikli kişisel
    veri teşkil eden bilgilerimin T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu
    tarafından yapılan etkinliklere veya eğitimlere katılım ya da herhangi başka bir nedenle kurduğum ilişki,
    kapsamında; kurduğum ilişkinin amacı ile bağlantılı bilgilendirme yapılması ve iletişim kurulması i&ccedil;in,
    kurulan ilişkiden doğan edimlerin ifa edilmesi ve y&uuml;k&uuml;ml&uuml;l&uuml;klerin yerine getirilmesi i&ccedil;in,
    d&acirc;hil olduğum faaliyetler ile ilgili bilgi verilmesi i&ccedil;in T&uuml;rkiye V&uuml;cut Geliştirme, Fitness
    ve Bilek G&uuml;reşi Federasyonu tarafından veya sair idari veya adli makamlar tarafından getirilen y&uuml;k&uuml;ml&uuml;l&uuml;klerin
    karşılanması i&ccedil;in ve istatistiksel veya bilimsel araştırma i&ccedil;in toplanmasına, kullanılmasına, a&ccedil;ıklanmasına,
    aktarılmasına ve işlenmesine mevzuat kapsamındaki haklarım saklı kalmak kaydı ile a&ccedil;ık&ccedil;a izin
    veriyorum.</p>
<p style="text-indent: 0.49in; margin-bottom: 0in; line-height: 150%; background: #ffffff;" align="justify">&nbsp;</p>
<p style="margin-bottom: 0in; line-height: 150%; background: #ffffff;" align="justify">T&uuml;rkiye V&uuml;cut
    Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu ile kurduğum ilişki nedeniyle elde edebileceğim kişisel
    verileri 6698 sayılı Kişisel Verilerin Korunması Hakkında Kanun gereği hukuka uygun olarak ve a&ccedil;ık rıza ile
    elde etmeyi, korumayı, işlemeyi, aktarmayı; a&ccedil;ık rıza olmadan veya hukuka aykırı olarak elde ettiğim kişisel
    verileri derhal silmeyi ve durumu T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu
    Kişisel Veri Sorumlusu&rsquo;na bildirmeyi; aksi durumun tespiti halinde verileri ihlal edilenler veya Kişisel
    Verileri Koruma Kurulu ve sair idari ve yargı organlarınca bir yaptırım uygulanması ve T&uuml;rkiye V&uuml;cut
    Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu&rsquo;nun zararının doğması halinde bu zararı gidermeyi, b&ouml;yle
    bir durumda aynı zamanda cezai sorumluluğun da tarafıma ait olduğunu bildiğimi kabul, beyan ve taahh&uuml;t
    ederim.</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">&nbsp;</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="center"><strong>KİŞİSEL VERİLERİN KORUNMASI
    POLİTİKASI ve ELEKTRONİK TİCARET İLETİŞİM İZNİ</strong></p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">KVKK gereğince, T&uuml;rkiye V&uuml;cut
    Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu ile paylaşmış olduğunuz kişisel verilerinizi T&uuml;rkiye V&uuml;cut
    Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu, Veri Sorumlusu sıfatıyla, KVKK&rsquo; da a&ccedil;ıklandığı
    &ccedil;er&ccedil;evede; elde edebilecek, kaydedebilecek, depolayabilecek, muhafaza edebilecek, hizmetlerini devam
    ettirebilmek amacıyla g&uuml;ncelleyebilecek, değiştirebilecek, yeniden d&uuml;zenleyebilecek, mevzuatın izin
    verdiği durumlarda ve &ouml;l&ccedil;&uuml;de &uuml;&ccedil;&uuml;nc&uuml; kişilere a&ccedil;ıklayabilecek,
    devredebilecek, aktarabilecek, paylaşabilecek, sınıflandırabilecek, anonim hale getirebilecek ve KVKK&rsquo; da
    sayılan diğer şekillerde işleyebilecektir. Bu kapsamda T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi
    Federasyonu ile paylaşılan kişisel verilerinizin (&ouml;zel nitelikli kişisel veriler de d&acirc;hil olmak &uuml;zere)
    KVKK ve ilgili mevzuat uyarınca aşağıda belirtilen kapsamda işlenmesine a&ccedil;ık rıza vermektesiniz.</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">&nbsp;</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">T&uuml;rkiye V&uuml;cut Geliştirme,
    Fitness ve Bilek G&uuml;reşi Federasyonu daha iyi hizmet verebilmek amacıyla ve 6563 Sayılı Elektronik Ticaretin D&uuml;zenlenmesi
    Hakkında Kanun ve ilgili ikincil mevzuat, 5237 Sayılı T&uuml;rk Ceza Kanunu ve 6698 Sayılı Kişisel Verilerin
    Korunması Kanunu başta olmak &uuml;zere, ilgili mevzuattan kaynaklanan yasal y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;
    &ccedil;er&ccedil;evesinde; s&ouml;z konusu ama&ccedil; ve yasal y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine
    getirebilmeyi sağlayacak kişisel verilerinizi (ad, soyadı, fotoğrafı, parmak izi, doğum tarihi, cep telefonu
    numarası, e-posta, cinsiyet, adres, meslek, banka iban bilgisi, SGK/BAĞKUR belgesi, vize dekont belgesi vd. )
    sizlerden talep etmektedir. Bu kişisel veriler hizmetlerimizden daha iyi yararlanabilmeniz adına, a&ccedil;ık
    rızanıza istinaden, işbu Kişisel Verilerin Korunması Politikası ve İletişim İzni ile belirlenen ama&ccedil;lar ve
    kapsam dışında kullanılmamak kaydı ile bilgi g&uuml;venliği tedbirleri de alınarak işlenecek ve saklanacaktır.
    İşlenen kişisel verilerinizin neler olduğunu, işleme amacı doğrultusunda kullanılıp kullanılmadığını, yurt i&ccedil;i
    veya yurt dışında kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişileri &ouml;ğrenmek, eksik veya
    yanlış işlenen kişisel verileriniz s&ouml;z konusu ise veya işlenen kişisel verilerinizde herhangi bir değişiklik
    olması durumunda bu verilerinizi değiştirmek ve g&uuml;ncellemek i&ccedil;in, &uuml;&ccedil;&uuml;nc&uuml; kişilere
    aktarılan kişisel verilerinize g&uuml;ncellemeleri bildirmek ve izinlerinizi kaldırmak gibi 6698 Sayılı Kişisel
    Verilerin Korunması Kanunu madde 11 uyarınca sahip olduğunuz diğer t&uuml;m haklarınızı kullanmak amacıyla, &hellip;&hellip;&hellip;&hellip;&hellip;.
    nolu telefondan veya&nbsp;&ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&rdquo;&nbsp;mail
    adresinden T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu başvurabilirsiniz. 6563
    Sayılı Elektronik Ticaretin D&uuml;zenlenmesi Hakkında Kanun uyarınca; onay, onayın geri alındığı, ticari elektronik
    iletinin i&ccedil;eriği ve g&ouml;nderiye ilişkin diğer kayıtlar gerektiğinde Bakanlığa sunulmak &uuml;zere kayıt
    altına alınarak; onayın ge&ccedil;erliliğinin sona erdiği tarihten itibaren 3 yıl saklanacaktır. S&uuml;re ge&ccedil;tikten
    sonra kişisel verileriniz federasyonumuz tarafından veya talebiniz &uuml;zerine silinir, yok edilir veya anonim hale
    getirilir. S&ouml;z konusu izninizi geri almak ve size bilgilendirme amacıyla g&ouml;nderilen iletilerin artık g&ouml;nderilmesini
    istemediğiniz takdirde, dilediğiniz zaman, izni verdiğiniz y&ouml;ntemle (sms, e-posta, web sitesi ve diğer usuller)
    bu talebinizi T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu&rsquo;na iletebilirsiniz
    ve her zaman&nbsp;&ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&rdquo;&nbsp;adresine e-posta g&ouml;nderebilirsiniz.
    T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu, kişisel verilerinizi ve gezinme
    bilgileriniz gibi trafik bilgilerinizi; yasal olarak bu bilgileri talep etmeye yetkili olan kamu kurum ve
    kuruluşları ile paylaşabilecektir.</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">&nbsp;</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">T&uuml;rkiye V&uuml;cut Geliştirme,
    Fitness ve Bilek G&uuml;reşi Federasyonu, kişisel verilere yetkisiz erişim veya bu bilgilerin kaybı, hatalı
    kullanımı, ifşa edilmesi, değiştirilmesi veya imha edilmesine karşı korumak i&ccedil;in gerekli &ouml;nlemleri
    almaktadır. <span style="color: #ff0000;">T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu kişisel verileri depolarken g&uuml;venlik duvarları ve G&uuml;venli Soket Katmanı (SSL) şifrelemesi gibi genel kabul g&ouml;rm&uuml;ş g&uuml;venlik teknolojisi standartlarını kullanmaktadır. Buna ek olarak, web sitesi/mobil uygulama aracılığıyla T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu&rsquo;na kişisel verilerinizi g&ouml;nderirken, bu veriler SSL kullanılarak aktarılmaktadır.</span>
    T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu, kişisel verilerinizi gizli tutmayı,
    gizliliğin sağlanması ve g&uuml;venliği i&ccedil;in gerekli teknik ve idari her t&uuml;rl&uuml; tedbiri almayı ve
    gerekli &ouml;zeni g&ouml;stermeyi taahh&uuml;t etmektedir. T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi
    Federasyonu&rsquo;nun gerekli bilgi g&uuml;venliği &ouml;nlemlerini almasına karşın, web sitesine ve sisteme yapılan
    saldırılar sonucunda kişisel verilerin zarar g&ouml;rmesi veya &uuml;&ccedil;&uuml;nc&uuml; kişilerin eline ge&ccedil;mesi
    durumunda, T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu bu durumu derhal sizlere ve
    Kişisel Verileri Koruma Kurulu&rsquo;na bildirir.</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">&nbsp;</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">T&uuml;rkiye V&uuml;cut Geliştirme,
    Fitness ve Bilek G&uuml;reşi Federasyonu, işbu Gizlilik/Kişisel Verilerin Korunması Politikası ve İletişim İzninde
    her zaman değişiklik yapabilir. Bu değişiklikler, değiştirilmiş yeni Gizlilik/Kişisel Verilerin Korunması Politikası
    ve İletişim İzninin &ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&rdquo; sitesine konulmasıyla
    birlikte derhal ge&ccedil;erlilik kazanır. İşbu Gizlilik/Kişisel Verilerin Korunması Politikası ve İletişim
    İznindeki değişikliklerden haberdar olmanız i&ccedil;in, siz antren&ouml;rlerimize gerekli bilgilendirme
    yapılacaktır.</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">&nbsp;</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">İşbu Gizlilik/Kişisel Verilerin
    Korunması Politikası ve İletişim İzni, T&uuml;rkiye Cumhuriyeti kanunlarına tabidir. Gizlilik/Kişisel Verilerin
    Korunması Politikası ve İletişim İzni&rsquo;nin uygulanmasından doğabilecek her t&uuml;rl&uuml; uyuşmazlığın
    &ccedil;&ouml;z&uuml;m&uuml;nde Ankara Mahkeme ve İcra Daireleri yetkilidir.</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">&nbsp;</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify"><strong>Elektronik İletişim
    İzni</strong></p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">İşbu Gizlilik/Kişisel Verilerin
    Korunması Politikası ve İletişim İzni&rsquo;ni kabul etmekle, bizimle paylaşılmasına rıza g&ouml;stermiş olduğunuz
    kişisel verilerinizin, tarafınıza &ccedil;eşitli avantajların sağlanıp sunulabilmesi ve size &ouml;zel anket ve
    benzer ama&ccedil;lı her t&uuml;rl&uuml; fiziksel ve elektronik iletişim yapılması ve diğer iletişim mesajlarının g&ouml;nderilmesi
    amacıyla; toplanmasına, saklanmasına, işlenmesine, kullanılmasına, aktarımına izin vermiş bulunmaktasınız. <span
            style="color: #ff0000;">Bu kişisel verileriniz, aynı ama&ccedil;lara y&ouml;nelik olarak; T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu&rsquo;nun s&ouml;zleşme ilişkisi i&ccedil;inde olduğumuz yurt i&ccedil;i ve/veya yurt dışındaki 3. taraflarla paylaşılacaktır.</span>
    <span style="color: #ff0000;">Bunun yanında, bu bilgiler sadece size sağlanacak hizmetlerin kusursuz sunulabilmesi, olası g&ouml;nderilerinizin sağlıklı şekilde teslim edilmesi, telefon, sms, e-posta ve diğer elektronik iletişim yollarıyla bildirimlerimizin zamanında ulaştırılabilmesi amacıyla, s&ouml;zleşme ilişkisi i&ccedil;inde olduğumuz, veri koruması ve g&uuml;venliği konusunda bizimle hukuken ve teknik olarak aynı sorumlulukları taşıyan, ilgili Mevzuat h&uuml;k&uuml;mlerine riayet eden 3. kişilerle, yalnızca ihtiya&ccedil; durumunda ve gerekli &ouml;l&ccedil;&uuml;de paylaşılacaktır. </span>Antren&ouml;rler,
    kişisel verilerinin T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu tarafından bu
    şekilde kullanımına ve saklanmasına rıza g&ouml;sterdiklerini kabul ve beyan eder. T&uuml;rkiye V&uuml;cut
    Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu, s&ouml;z konusu kişisel verilerin 6698 sayılı Kişisel
    Verilerin Korunması Kanunu md. 12 uyarınca g&uuml;venli şekilde saklanması, yetkisiz erişimlerin ve hukuka aykırı
    veri işlemelerin &ouml;nlenmesi i&ccedil;in gereken her t&uuml;rl&uuml; tedbiri alacaktır.</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify">&nbsp;</p>
<p class="western" style="margin-bottom: 0in; line-height: 150%;" align="justify"><span style="color: #ff0000;">Antren&ouml;r işbu Kişisel Verilerin Korunması Politikası ve İletişim İzni&rsquo;ni kabul etmekle, a&ccedil;ık rızanızla elektronik haberleşme işletmecisi tarafından işlenen ve elektronik haberleşme işletmecisiyle aramızdaki hukuki ilişkiye istinaden bizimle paylaşılan konum verilerinizin, size &ccedil;eşitli avantajların sağlanıp sunulabilmesi ve size &ouml;zel anket ve benzer ama&ccedil;lı her t&uuml;rl&uuml; elektronik iletişim yapılması ve diğer iletişim mesajlarının g&ouml;nderilmesi amacıyla işlenebilmesine rıza vermiş olacaksınız. </span>İletişim
    izninizi geri almak istediğiniz takdirde, dilediğiniz zaman, izni verdiğiniz y&ouml;ntemle (sms, e-posta, web sitesi
    ve diğer usuller) bu talebinizi T&uuml;rkiye V&uuml;cut Geliştirme, Fitness ve Bilek G&uuml;reşi Federasyonu&rsquo;na
    iletebilirsiniz.</p>